/* ------------------------------------------------------------------------------
 *
 *  # Prism
 *
 *  Lightweight, extensible syntax highlighter
 *
 *  Version: 1.0
 *  Latest update: May 10, 2015
 *
 * ---------------------------------------------------------------------------- */

code[class*="language-"],
pre[class*="language-"] {
	text-shadow: 0 1px #fff;
	word-break: normal;
	line-height: 1.5;
	direction: ltr;
}
@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
	color: #999;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
	color: #905;
}
.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
	color: #690;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #a67f59;
	background: rgba(255, 255, 255, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}
.token.function {
	color: #DD4A68;
}
.token.regex,
.token.important {
	color: #e90;
}
.token.important {
	font-weight: bold;
}
.token.entity {
	cursor: help;
}
.namespace {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 20px;
	background: rgba(133, 238, 149, 0.12);
	pointer-events: none;
	white-space: pre;
	line-height: inherit;
}
.line-highlight:before,
.line-highlight:after {
	content: attr(data-start);
	position: absolute;
	top: 0px;
	left: 10px;
	padding: 2px;
	text-align: center;
	font-size: 10px;
	color: #999999;
}
.line-highlight[data-end]:after {
	content: attr(data-end);
	top: auto;
	bottom: 0;
}
pre.line-numbers {
	position: relative;
	padding-left: 50px;
	counter-reset: linenumber;
}
pre.line-numbers > code {
	position: relative;
}
.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -50px;
	width: 36px;
	letter-spacing: -1px;
	border-right: 1px solid #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.line-numbers .line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}
.line-numbers .line-numbers-rows > span:before {
	content: counter(linenumber);
	color: #999999;
	display: block;
	padding-right: 10px;
	text-align: right;
}
pre[class*="language-"] {
	overflow: auto;
	position: relative;
	border-left-width: 3px;
	border-left-color: #2196F3;
	background-color: #fdfdfd;
	background-image: -webkit-linear-gradient(transparent 50%, rgba(25, 118, 210, 0.025) 50%);
	background-image: -moz-linear-gradient(transparent 50%, rgba(25, 118, 210, 0.025) 50%);
	background-image: -ms-linear-gradient(transparent 50%, rgba(25, 118, 210, 0.025) 50%);
	background-image: -o-linear-gradient(transparent 50%, rgba(25, 118, 210, 0.025) 50%);
	background-image: linear-gradient(transparent 50%, rgba(25, 118, 210, 0.025) 50%);
	background-size: 3em 3em;
	background-origin: content-box;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
pre[class*="language-"] > code[data-language] {
	display: block;
}
pre[class*="language-"] > code[data-language]:before {
	content: attr(data-language);
	background-color: #f8f8f8;
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 11px;
	border-radius: 0 0 0 2px;
	padding: 4px 8px;
	text-shadow: none;
	color: #333333;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
pre[class*="language-"].line-numbers > code[data-language]:before {
	top: -15px;
	right: -15px;
}
pre[data-line] {
	position: relative;
	padding-left: 36px;
}

div.prism-show-language {
	position: relative;
}

div.prism-show-language > div.prism-show-language-label {
	color: #333333;
	background-color: #f8f8f8;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	position: absolute;
	bottom: auto;
	left: auto;
	top: 1px;
	right: 1px;
	width: auto;
	height: auto;
	font-size: 0.9em;
	border-radius: 0 4px 0 2px;
	padding: 4px 8px;
	text-shadow: none;
	z-index: 1;
	box-shadow: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
