<div>
  <p>Vysílání probíhá z vysílačů:</p>
  <ul>
    <li>Praha (Žižkov a Cukrák) na 31. kanálu</li>
    <li>Brno (Hády a Barvičova) na 28. kanálu</li>
    <li>Ostrava (Hošťálkovice a Hladnov) na 28. kanálu</li>
  </ul>
  <p>Signál z vysílače Praha (Žižkov a Cukrák), lze v Karlovarském kraji již nyní přijímat v Abertamech.</p>
  <div class="thumb-download text-center mb-lg mt-lg">
    <img src="/_files/bluesat/blog/dvbt2-maps-06-2017-thumbs.jpg" alt="Celopološná mapa pokrytí DVB-T2 - červen 2017" class="img-thumbnail img-responsive">
  </div>
</div>

<p class="pull-right">-Bluesat-</p>