/*
 *
 * CMS ENVO - METRICS TEMPLATE
 * CSS with custom modification
 * Copyright © 2016 Bluesat.cz
 * -----------------------------------------------------------------------
 * Author: Thomas
 * Email: bluesatkv@gmail.com
 * =======================================================================
 * INDEX:
 * 01. COMMON STYLES
 * 02. NECESSARY CODE - BASIC COMMON STYLES
 * 03. HEADER
 * 04. FOOTER and COPYRIGHT
 * 05. NECESSARY CODE - NAVIGATION SIDEBAR MENU
 * 06. NECESSARY CODE !!! - SIDEBAR
 * 07. METRICS MODIFICATION - COLORS
 * 08. METRICS MODIFICATION - FONTS
 * 09. METRICS MODIFICATION - BUTTONS
 * 10. METRICS MODIFICATION - INPUT
 * 11. METRICS MODIFICATION - PANEL ACCORDION
 * 12. METRICS MODIFICATION - SECTION
 * 13. PAGINATION
 * 14. NECESSARY CODE !!! - NEWS
 */

/* 01. COMMON STYLES
========================================================================*/
p {
  font-family: 'Raleway', sans-serif;
}

/* 02. NECESSARY CODE !!! - BASIC COMMON STYLES
========================================================================*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.no-mt {
  margin-top: 0 !important;
}

.no-mb {
  margin-bottom: 0 !important;
}

.no-pb {
  padding-bottom: 0 !important;
}

.no-pt {
  padding-top: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

/*  margin */
.mb-large {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .mb-large {
    margin-bottom: 120px;
  }
}

.mb-medium {
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  .mb-medium {
    margin-bottom: 72px;
  }
}

.mb-small {
  margin-bottom: 16px;
}

.mb {
  margin-bottom: 24px;
}

.mt-large {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .mt-large {
    margin-top: 120px;
  }
}

.mt-medium {
  margin-top: 36px;
}

@media (min-width: 768px) {
  .mt-medium {
    margin-top: 72px;
  }
}

.mt-small {
  margin-top: 16px;
}

.mt {
  margin-top: 24px;
}

/*  padding */
.pb-large {
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .pb-large {
    padding-bottom: 120px;
  }
}

.pb-medium {
  padding-bottom: 36px;
}

@media (min-width: 768px) {
  .pb-medium {
    padding-bottom: 72px;
  }
}

.pb-small {
  padding-bottom: 16px;
}

.pb {
  padding-bottom: 24px;
}

.pt-large {
  padding-top: 60px;
}

@media (min-width: 768px) {
  .pt-large {
    padding-top: 120px;
  }
}

.pt-medium {
  padding-top: 36px;
}

@media (min-width: 768px) {
  .pt-medium {
    padding-top: 72px;
  }
}

.pt-small {
  padding-top: 16px;
}

.pt {
  padding-top: 24px;
}

/** add a margin bottom, only on mobile **/
@media (max-width: 767px) {
  .mb-xs {
    margin-bottom: 24px;
  }
}

/** add a margin bottom, on mobile and small devices **/
@media (max-width: 991px) {
  .mb-sm {
    margin-bottom: 24px;
  }
}

/** border ***/
.no-border {
  border: none !important;
}

.bb-1 {
  border-bottom: 1px solid;
}

.bb-color-1 {
  border-bottom-color: #1B6D85;
}

/* 03. HEADER
========================================================================*/

/* Right Menu */
.cms-social {
  padding: 0;
}

.cms-social li {
  padding-left: 10px;
  padding-right: 10px;
}

/* 04. FOOTER and COPYRIGHT
========================================================================*/
ul.footer-list-style {
  list-style-type: none;
  margin: 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  ul.footer-list-style {
    text-align: inherit;
    margin-bottom: 10px;
  }
}

ul.footer-list-style li {
  float: left;
}

ul.footer-list-style li:first-child {

}

ul.footer-list-style li:after {
  content: '|';
  padding: 0 5px;
  color: #646464;
}

ul.footer-list-style li:last-child:after {
  content: '';
}

ul.footer-list-style li a {
  font-size: 13px;
  font-weight: 400;
  color: #646464;
  transition: all .3s;
}

ul.footer-list-style li a:hover {
  color: #43B4AE;
}

footer#main-footer #footer-rights p {
  font-size: 14px;
}

/* 05. NECESSARY CODE !!! - NAVIGATION SIDEBAR MENU
       - basic code for sidebar menu.

       If you want, change only color and icons
========================================================================*/
.nav-side-menu {
  width: 100%;
}

.nav-side-menu li.panel {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-side-menu .brand {
  display: block;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 35px;
  cursor: pointer;
}

.nav-side-menu ul .sub-menu li {
  border: none;
  border-bottom: 1px solid #EDEDDE;
  margin: 0 0 0 25px;
}

.nav-side-menu ul .sub-menu li a {
  padding: 8px 0 8px 22px;
  font-size: 0.9em;
  line-height: 20px;
}

.nav-side-menu ul .sub-menu li:hover {
  background-color: #EEE;
}

.nav-side-menu li {
  padding-left: 0;
}

.nav-side-menu li a:hover {
  text-decoration: underline;
}

.nav-side-menu li,
.nav-side-menu li a {
  text-decoration: none;
  color: #666;
}

.nav-side-menu li a {
  display: block;
  padding: 7px 5px 7px 10px;
}

.nav-side-menu li .panel-heading a {
  display: block;
  padding: 10px 5px 10px 10px;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

/* Other modification */
.panel-heading {
  padding: 0;
}

/* Count in sidebar */
.count {
  float: right;
  margin-right: 20px;
  line-height: normal;
  padding: 3px;
  border-radius: 5px;
  margin-top: 6px;
  background-color: #F5F5F5;
  font-weight: 700;
}

.count-small {
  padding: 3px 7px;
}

.nav-side-menu ul .sub-menu li a .count {
  margin-top: 0;
}

/* Colors */
.nav-side-menu ul li.active a,
.nav-side-menu ul li a.active,
.nav-side-menu ul .sub-menu li a.active {
}

/* Icons */
.nav-side-menu ul .sub-menu li a:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #333;
  margin: 7px 0 0 -12px;
  position: absolute;
}

/* Responsive */
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #FFF;
    color: #384045;
    width: 40px;
    text-align: center;
  }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

@media (max-width: 767px) {
  .nav-side-menu .brand {
    background-color: #222222;
    color: #FFF;
    line-height: 50px;
    display: block;
    text-align: center;
  }

  .nav-side-menu span.toggle-btn:before {
    font-family: 'FontAwesome';
    content: '\f067';
    color: #263238;
    font-size: 18px;
    margin: 0;
  }

  .nav-side-menu span.toggle-btn.is-active:before {
    font-family: 'FontAwesome';
    content: '\f068';
    color: #263238;
    font-size: 18px;
    margin: 0;
  }
}

/* METRICS modification */
.nav-side-menu {
  padding: 10px 30px 30px 30px;
  background: #F4F4F4;
}

.nav-side-menu ul,
.nav-side-menu li {
  line-height: inherit !important;
}

.nav-side-menu .sidebar-category ul li a {
  padding: 5px 0px;
  line-height: 2em;
}

.nav-side-menu .sidebar-category ul li.active a {
  color: #43B4AE;
  border-color: #43B4AE;
}

.nav-side-menu .count {
  padding: 3px;
  margin-top: 1px;
}

.nav-side-menu .count-small {
  padding: 2px 7px;
}

@media (max-width: 767px) {
  .nav-side-menu {
    padding: 15px;
    background: #F4F4F4;
  }

  .nav-side-menu .toggle-btn {
    right: 25px;
    top: 25px;
  }

  .sidebar-inner {
    margin-bottom: 0;
  }

  .sidebar-inner h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .sidebar-inner h2::before {
    background: none;
  }

  .sidebar-inner .menu-content {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.nav-side-menu .recent-post {
  padding-left: 0;
  margin-top: 11px;
  border-bottom: 1px solid #E5E5E5;
}

.recent-post:nth-of-type(1) {
  margin-bottom: 0;
}

.nav-side-menu .recent-post:last-child {
  border: none;
}

.nav-side-menu .recent-post p span {
  color: #43B4AE;
}

/* 06. NECESSARY CODE !!! - SIDEBAR
       - basic code for sidebar menu.

       If you want, change only color
========================================================================*/
/* Sidebar - block */
.nav-sidebar {
  width: 100%;
}

.nav-sidebar ul {
  padding-left: 10px;
}

.nav-sidebar li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 30px;
  cursor: pointer;
}

/* Sidebar - inline */
.nav-sidebar-inline {
  width: 100%;
}

.nav-sidebar-inline ul {
  padding-left: 10px;
}

.nav-sidebar-inline li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-sidebar-inline li.tag-cloud a {
  color: #111;
  background: #C7CFB6;
  border-color: transparent;
  padding: 5px;
  font-size: 14px !important;
}

/* METRICS modification */
.nav-sidebar-inline ul {
  padding-left: 0;
}

.nav-sidebar-inline li.tag-cloud a {
  border: 2px solid #EEE;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px !important;
  margin: 0 4px 6px 0;
  padding: 2px 11px;
  color: #9B9B9B;
  background: none;
  text-decoration: none;
  -webkit-transition: all 300ms linear 0ms;
  -moz-transition: all 300ms linear 0ms;
  -ms-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
  font-weight: normal;
}

.nav-sidebar-inline li.tag-cloud a:hover {
  border: 2px solid #43B4AE;
}

/* 07. METRICS MODIFICATION - COLORS
       - css from METRICS WP
========================================================================*/
.color-white {
  color: #FFF !important;
}

.color-primary {
  color: #43B4AE !important;
}

/* 08. METRICS MODIFICATION - FONTS
       - css from METRICS WP
========================================================================*/
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-small {
  font-size: 13px;
  line-height: 1.76923;
}

.font-small p, .font-small ul, .font-small ol, .font-small dl, .font-small table, .font-small pre, .font-small address, .font-small blockquote {
  margin-bottom: 32px;
}

.font-large {
  font-size: 15px;
  line-height: 1.6;
}

.font-large p, .font-large ul, .font-large ol, .font-large dl, .font-large table, .font-large pre, .font-large address, .font-large blockquote {
  margin-bottom: 24px;
}

.font-xlarge {
  font-size: 17px;
  line-height: 1.58824;
}

.font-xlarge p, .font-xlarge ul, .font-xlarge ol, .font-xlarge dl, .font-xlarge table, .font-xlarge pre, .font-xlarge address, .font-xlarge blockquote {
  margin-bottom: 27px;
}

.font-alt-1 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.font-alt-2 {
  font-family: Lora, "Times New Roman", Times, serif;
}

.font-alt-3 {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

/* 09. METRICS MODIFICATION - BUTTONS
       - css from METRICS WP
========================================================================*/
button, input[type="button"], input[type="reset"], input[type="submit"], .btn {
  display: inline-block;
  max-width: 100%;
  background-color: transparent;
  padding: 11.5px 32px 12.5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
  position: relative;
  text-align: center;
  line-height: 1.76923;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: background-color 250ms, color 250ms, border-color 250ms;
  transition: background-color 250ms, color 250ms, border-color 250ms;
}

.btn-lg, .button.btn-lg, input[type="button"].btn-lg, input[type="reset"].btn-lg, input[type="submit"].btn-lg, .btn.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.btn-sm, .button.btn-sm, input[type="button"].btn-sm, input[type="reset"].btn-sm, input[type="submit"].btn-sm, .btn.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.btn-xs, .button.btn-xs, input[type="button"].btn-xs, input[type="reset"].btn-xs, input[type="submit"].btn-xs, .btn.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .btn:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, .btn:focus {
  box-shadow: none;
}

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, .btn:focus {
  outline: none;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .btn, button.btn-filled, input[type="button"].btn-filled, input[type="reset"].btn-filled, input[type="submit"].btn-filled, .btn.btn-filled, .btn-info, button.btn-hover-dark:hover, input[type="button"].btn-hover-dark:hover, input[type="reset"].btn-hover-dark:hover, input[type="submit"].btn-hover-dark:hover, .btn.btn-hover-dark:hover, .btn-info:hover, button.btn-hover-dark:focus, input[type="button"].btn-hover-dark:focus, input[type="reset"].btn-hover-dark:focus, input[type="submit"].btn-hover-dark:focus, .btn.btn-hover-dark:focus, .btn-info:focus {
  border-color: #222;
}

button.btn-white, input[type="button"].btn-white, input[type="reset"].btn-white, input[type="submit"].btn-white, .btn.btn-white, button.btn-hover-white:hover, input[type="button"].btn-hover-white:hover, input[type="reset"].btn-hover-white:hover, input[type="submit"].btn-hover-white:hover, .btn.btn-hover-white:hover, button.btn-hover-white:focus, input[type="button"].btn-hover-white:focus, input[type="reset"].btn-hover-white:focus, input[type="submit"].btn-hover-white:focus, .btn.btn-hover-white:focus {
  border-color: #FFF;
}

button.btn-primary, input[type="button"].btn-primary, input[type="reset"].btn-primary, input[type="submit"].btn-primary, .btn.btn-primary, button.btn-hover-primary:hover, input[type="button"].btn-hover-primary:hover, input[type="reset"].btn-hover-primary:hover, input[type="submit"].btn-hover-primary:hover, .btn.btn-hover-primary:hover, button.btn-hover-primary:focus, input[type="button"].btn-hover-primary:focus, input[type="reset"].btn-hover-primary:focus, input[type="submit"].btn-hover-primary:focus, .btn.btn-hover-primary:focus {
  border-color: #43B4AE;
}

button.btn-filled, input[type="button"].btn-filled, input[type="reset"].btn-filled, input[type="submit"].btn-filled, .btn.btn-filled, button.btn-filled:visited, input[type="button"].btn-filled:visited, input[type="reset"].btn-filled:visited, input[type="submit"].btn-filled:visited, .btn.btn-filled:visited {
  background-color: #222;
}

button.btn-filled.btn-primary, input[type="button"].btn-filled.btn-primary, input[type="reset"].btn-filled.btn-primary, input[type="submit"].btn-filled.btn-primary, .btn.btn-filled.btn-primary, button.btn-filled.btn-primary:visited, input[type="button"].btn-filled.btn-primary:visited, input[type="reset"].btn-filled.btn-primary:visited, input[type="submit"].btn-filled.btn-primary:visited, .btn.btn-filled.btn-primary:visited {
  background-color: #43B4AE;
}

button.btn-filled.btn-white, input[type="button"].btn-filled.btn-white, input[type="reset"].btn-filled.btn-white, input[type="submit"].btn-filled.btn-white, .btn.btn-filled.btn-white, button.btn-filled.btn-white:visited, input[type="button"].btn-filled.btn-white:visited, input[type="reset"].btn-filled.btn-white:visited, input[type="submit"].btn-filled.btn-white:visited, .btn.btn-filled.btn-white:visited {
  background-color: #FFF;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .btn:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, .btn:focus, button.btn-hover-dark:hover, input[type="button"].btn-hover-dark:hover, input[type="reset"].btn-hover-dark:hover, input[type="submit"].btn-hover-dark:hover, .btn.btn-hover-dark:hover, button.btn-hover-dark:focus, input[type="button"].btn-hover-dark:focus, input[type="reset"].btn-hover-dark:focus, input[type="submit"].btn-hover-dark:focus, .btn.btn-hover-dark:focus, button.btn-primary.btn-hover-dark:hover, input[type="button"].btn-primary.btn-hover-dark:hover, input[type="reset"].btn-primary.btn-hover-dark:hover, input[type="submit"].btn-primary.btn-hover-dark:hover, .btn.btn-primary.btn-hover-dark:hover, button.btn-primary.btn-hover-dark:focus, input[type="button"].btn-primary.btn-hover-dark:focus, input[type="reset"].btn-primary.btn-hover-dark:focus, input[type="submit"].btn-primary.btn-hover-dark:focus, .btn.btn-primary.btn-hover-dark:focus, button.btn-white.btn-hover-dark:hover, input[type="button"].btn-white.btn-hover-dark:hover, input[type="reset"].btn-white.btn-hover-dark:hover, input[type="submit"].btn-white.btn-hover-dark:hover, .btn.btn-white.btn-hover-dark:hover, button.btn-white.btn-hover-dark:focus, input[type="button"].btn-white.btn-hover-dark:focus, input[type="reset"].btn-white.btn-hover-dark:focus, input[type="submit"].btn-white.btn-hover-dark:focus, .btn.btn-white.btn-hover-dark:focus {
  background-color: #222;
}

button.btn-primary:hover, input[type="button"].btn-primary:hover, input[type="reset"].btn-primary:hover, input[type="submit"].btn-primary:hover, .btn.btn-primary:hover, button.btn-primary:focus, input[type="button"].btn-primary:focus, input[type="reset"].btn-primary:focus, input[type="submit"].btn-primary:focus, .btn.btn-primary:focus, button.btn-hover-primary:hover, input[type="button"].btn-hover-primary:hover, input[type="reset"].btn-hover-primary:hover, input[type="submit"].btn-hover-primary:hover, .btn.btn-hover-primary:hover, button.btn-hover-primary:focus, input[type="button"].btn-hover-primary:focus, input[type="reset"].btn-hover-primary:focus, input[type="submit"].btn-hover-primary:focus, .btn.btn-hover-primary:focus, button.btn-white.btn-hover-primary:hover, input[type="button"].btn-white.btn-hover-primary:hover, input[type="reset"].btn-white.btn-hover-primary:hover, input[type="submit"].btn-white.btn-hover-primary:hover, .btn.btn-white.btn-hover-primary:hover, button.btn-white.btn-hover-primary:focus, input[type="button"].btn-white.btn-hover-primary:focus, input[type="reset"].btn-white.btn-hover-primary:focus, input[type="submit"].btn-white.btn-hover-primary:focus, .btn.btn-white.btn-hover-primary:focus {
  background-color: #43B4AE;
}

button.btn-white:hover, input[type="button"].btn-white:hover, input[type="reset"].btn-white:hover, input[type="submit"].btn-white:hover, .btn.btn-white:hover, button.btn-white:focus, input[type="button"].btn-white:focus, input[type="reset"].btn-white:focus, input[type="submit"].btn-white:focus, .btn.btn-white:focus, button.btn-hover-white:hover, input[type="button"].btn-hover-white:hover, input[type="reset"].btn-hover-white:hover, input[type="submit"].btn-hover-white:hover, .btn.btn-hover-white:hover, button.btn-hover-white:focus, input[type="button"].btn-hover-white:focus, input[type="reset"].btn-hover-white:focus, input[type="submit"].btn-hover-white:focus, .btn.btn-hover-white:focus, button.btn-primary.btn-hover-white:hover, input[type="button"].btn-primary.btn-hover-white:hover, input[type="reset"].btn-primary.btn-hover-white:hover, input[type="submit"].btn-primary.btn-hover-white:hover, .btn.btn-primary.btn-hover-white:hover, button.btn-primary.btn-hover-white:focus, input[type="button"].btn-primary.btn-hover-white:focus, input[type="reset"].btn-primary.btn-hover-white:focus, input[type="submit"].btn-primary.btn-hover-white:focus, .btn.btn-primary.btn-hover-white:focus {
  background-color: #FFF;
}

button.btn-filled:hover, input[type="button"].btn-filled:hover, input[type="reset"].btn-filled:hover, input[type="submit"].btn-filled:hover, .btn.btn-filled:hover, button.btn-white.btn-filled:hover, input[type="button"].btn-white.btn-filled:hover, input[type="reset"].btn-white.btn-filled:hover, input[type="submit"].btn-white.btn-filled:hover, .btn.btn-white.btn-filled:hover, button.btn-primary.btn-filled:hover, input[type="button"].btn-primary.btn-filled:hover, input[type="reset"].btn-primary.btn-filled:hover, input[type="submit"].btn-primary.btn-filled:hover, .btn.btn-primary.btn-filled:hover, button.btn-filled:focus, input[type="button"].btn-filled:focus, input[type="reset"].btn-filled:focus, input[type="submit"].btn-filled:focus, .btn.btn-filled:focus, button.btn-white.btn-filled:focus, input[type="button"].btn-white.btn-filled:focus, input[type="reset"].btn-white.btn-filled:focus, input[type="submit"].btn-white.btn-filled:focus, .btn.btn-white.btn-filled:focus, button.btn-primary.btn-filled:focus, input[type="button"].btn-primary.btn-filled:focus, input[type="reset"].btn-primary.btn-filled:focus, input[type="submit"].btn-primary.btn-filled:focus, .btn.btn-primary.btn-filled:focus {
  background-color: transparent;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .btn, button:visited, input[type="button"]:visited, input[type="reset"]:visited, input[type="submit"]:visited, .btn:visited {
  color: #222;
}

button.btn-filled, input[type="button"].btn-filled, input[type="reset"].btn-filled, input[type="submit"].btn-filled, .btn.btn-filled, button.btn-filled:visited, input[type="button"].btn-filled:visited, input[type="reset"].btn-filled:visited, input[type="submit"].btn-filled:visited, .btn.btn-filled:visited, button.btn-filled.btn-primary, input[type="button"].btn-filled.btn-primary, input[type="reset"].btn-filled.btn-primary, input[type="submit"].btn-filled.btn-primary, .btn.btn-filled.btn-primary, button.btn-filled.btn-primary:visited, input[type="button"].btn-filled.btn-primary:visited, input[type="reset"].btn-filled.btn-primary:visited, input[type="submit"].btn-filled.btn-primary:visited, .btn.btn-filled.btn-primary:visited, button.btn-white, input[type="button"].btn-white, input[type="reset"].btn-white, input[type="submit"].btn-white, .btn.btn-white, button.btn-white:visited, input[type="button"].btn-white:visited, input[type="reset"].btn-white:visited, input[type="submit"].btn-white:visited, .btn.btn-white:visited {
  color: #FFF;
}

button.btn-primary, input[type="button"].btn-primary, input[type="reset"].btn-primary, input[type="submit"].btn-primary, .btn.btn-primary, button.btn-primary:visited, input[type="button"].btn-primary:visited, input[type="reset"].btn-primary:visited, input[type="submit"].btn-primary:visited, .btn.btn-primary:visited, button.btn-filled.btn-white, input[type="button"].btn-filled.btn-white, input[type="reset"].btn-filled.btn-white, input[type="submit"].btn-filled.btn-white, .btn.btn-filled.btn-white, button.btn-filled.btn-white:visited, input[type="button"].btn-filled.btn-white:visited, input[type="reset"].btn-filled.btn-white:visited, input[type="submit"].btn-filled.btn-white:visited, .btn.btn-filled.btn-white:visited {
  color: #43B4AE;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .btn:hover, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, .btn:focus, button.btn-primary:hover, input[type="button"].btn-primary:hover, input[type="reset"].btn-primary:hover, input[type="submit"].btn-primary:hover, .btn.btn-primary:hover, button.btn-primary:focus, input[type="button"].btn-primary:focus, input[type="reset"].btn-primary:focus, input[type="submit"].btn-primary:focus, .btn.btn-primary:focus, button.btn-hover-dark:hover, input[type="button"].btn-hover-dark:hover, input[type="reset"].btn-hover-dark:hover, input[type="submit"].btn-hover-dark:hover, .btn.btn-hover-dark:hover, button.btn-hover-dark:focus, input[type="button"].btn-hover-dark:focus, input[type="reset"].btn-hover-dark:focus, input[type="submit"].btn-hover-dark:focus, .btn.btn-hover-dark:focus, button.btn-white.btn-hover-dark:hover, input[type="button"].btn-white.btn-hover-dark:hover, input[type="reset"].btn-white.btn-hover-dark:hover, input[type="submit"].btn-white.btn-hover-dark:hover, .btn.btn-white.btn-hover-dark:hover, button.btn-white.btn-hover-dark:focus, input[type="button"].btn-white.btn-hover-dark:focus, input[type="reset"].btn-white.btn-hover-dark:focus, input[type="submit"].btn-white.btn-hover-dark:focus, .btn.btn-white.btn-hover-dark:focus, button.btn-hover-primary:hover, input[type="button"].btn-hover-primary:hover, input[type="reset"].btn-hover-primary:hover, input[type="submit"].btn-hover-primary:hover, .btn.btn-hover-primary:hover, button.btn-hover-primary:focus, input[type="button"].btn-hover-primary:focus, input[type="reset"].btn-hover-primary:focus, input[type="submit"].btn-hover-primary:focus, .btn.btn-hover-primary:focus, button.btn-white.btn-hover-primary:hover, input[type="button"].btn-white.btn-hover-primary:hover, input[type="reset"].btn-white.btn-hover-primary:hover, input[type="submit"].btn-white.btn-hover-primary:hover, .btn.btn-white.btn-hover-primary:hover, button.btn-white.btn-hover-primary:focus, input[type="button"].btn-white.btn-hover-primary:focus, input[type="reset"].btn-white.btn-hover-primary:focus, input[type="submit"].btn-white.btn-hover-primary:focus, .btn.btn-white.btn-hover-primary:focus {
  color: #FFF;
}

button.btn-white:hover, input[type="button"].btn-white:hover, input[type="reset"].btn-white:hover, input[type="submit"].btn-white:hover, .btn.btn-white:hover, button.btn-white:focus, input[type="button"].btn-white:focus, input[type="reset"].btn-white:focus, input[type="submit"].btn-white:focus, .btn.btn-white:focus, button.btn-hover-white:hover, input[type="button"].btn-hover-white:hover, input[type="reset"].btn-hover-white:hover, input[type="submit"].btn-hover-white:hover, .btn.btn-hover-white:hover, button.btn-hover-white:focus, input[type="button"].btn-hover-white:focus, input[type="reset"].btn-hover-white:focus, input[type="submit"].btn-hover-white:focus, .btn.btn-hover-white:focus {
  color: #43B4AE;
}

button.btn-filled:hover, input[type="button"].btn-filled:hover, input[type="reset"].btn-filled:hover, input[type="submit"].btn-filled:hover, .btn.btn-filled:hover, button.btn-filled:focus, input[type="button"].btn-filled:focus, input[type="reset"].btn-filled:focus, input[type="submit"].btn-filled:focus, .btn.btn-filled:focus, button.btn-filled.btn-hover-dark:hover, input[type="button"].btn-filled.btn-hover-dark:hover, input[type="reset"].btn-filled.btn-hover-dark:hover, input[type="submit"].btn-filled.btn-hover-dark:hover, .btn.btn-filled.btn-hover-dark:hover, button.btn-filled.btn-hover-dark:focus, input[type="button"].btn-filled.btn-hover-dark:focus, input[type="reset"].btn-filled.btn-hover-dark:focus, input[type="submit"].btn-filled.btn-hover-dark:focus, .btn.btn-filled.btn-hover-dark:focus, button.btn-filled.btn-primary.btn-hover-dark:hover, input[type="button"].btn-filled.btn-primary.btn-hover-dark:hover, input[type="reset"].btn-filled.btn-primary.btn-hover-dark:hover, input[type="submit"].btn-filled.btn-primary.btn-hover-dark:hover, .btn.btn-filled.btn-primary.btn-hover-dark:hover, button.btn-filled.btn-primary.btn-hover-dark:focus, input[type="button"].btn-filled.btn-primary.btn-hover-dark:focus, input[type="reset"].btn-filled.btn-primary.btn-hover-dark:focus, input[type="submit"].btn-filled.btn-primary.btn-hover-dark:focus, .btn.btn-filled.btn-primary.btn-hover-dark:focus, button.btn-filled.btn-white.btn-hover-dark:hover, input[type="button"].btn-filled.btn-white.btn-hover-dark:hover, input[type="reset"].btn-filled.btn-white.btn-hover-dark:hover, input[type="submit"].btn-filled.btn-white.btn-hover-dark:hover, .btn.btn-filled.btn-white.btn-hover-dark:hover, button.btn-filled.btn-white.btn-hover-dark:focus, input[type="button"].btn-filled.btn-white.btn-hover-dark:focus, input[type="reset"].btn-filled.btn-white.btn-hover-dark:focus, input[type="submit"].btn-filled.btn-white.btn-hover-dark:focus, .btn.btn-filled.btn-white.btn-hover-dark:focus {
  color: #222;
}

button.btn-filled.btn-white:hover, input[type="button"].btn-filled.btn-white:hover, input[type="reset"].btn-filled.btn-white:hover, input[type="submit"].btn-filled.btn-white:hover, .btn.btn-filled.btn-white:hover, button.btn-filled.btn-white:focus, input[type="button"].btn-filled.btn-white:focus, input[type="reset"].btn-filled.btn-white:focus, input[type="submit"].btn-filled.btn-white:focus, .btn.btn-filled.btn-white:focus, button.btn-filled.btn-hover-white:hover, input[type="button"].btn-filled.btn-hover-white:hover, input[type="reset"].btn-filled.btn-hover-white:hover, input[type="submit"].btn-filled.btn-hover-white:hover, .btn.btn-filled.btn-hover-white:hover, button.btn-filled.btn-hover-white:focus, input[type="button"].btn-filled.btn-hover-white:focus, input[type="reset"].btn-filled.btn-hover-white:focus, input[type="submit"].btn-filled.btn-hover-white:focus, .btn.btn-filled.btn-hover-white:focus, button.btn-filled.btn-primary.btn-hover-white:hover, input[type="button"].btn-filled.btn-primary.btn-hover-white:hover, input[type="reset"].btn-filled.btn-primary.btn-hover-white:hover, input[type="submit"].btn-filled.btn-primary.btn-hover-white:hover, .btn.btn-filled.btn-primary.btn-hover-white:hover, button.btn-filled.btn-primary.btn-hover-white:focus, input[type="button"].btn-filled.btn-primary.btn-hover-white:focus, input[type="reset"].btn-filled.btn-primary.btn-hover-white:focus, input[type="submit"].btn-filled.btn-primary.btn-hover-white:focus, .btn.btn-filled.btn-primary.btn-hover-white:focus {
  color: #FFF;
}

button.btn-filled.btn-primary:hover, input[type="button"].btn-filled.btn-primary:hover, input[type="reset"].btn-filled.btn-primary:hover, input[type="submit"].btn-filled.btn-primary:hover, .btn.btn-filled.btn-primary:hover, button.btn-filled.btn-primary:focus, input[type="button"].btn-filled.btn-primary:focus, input[type="reset"].btn-filled.btn-primary:focus, input[type="submit"].btn-filled.btn-primary:focus, .btn.btn-filled.btn-primary:focus, button.btn-filled.btn-hover-primary:hover, input[type="button"].btn-filled.btn-hover-primary:hover, input[type="reset"].btn-filled.btn-hover-primary:hover, input[type="submit"].btn-filled.btn-hover-primary:hover, .btn.btn-filled.btn-hover-primary:hover, button.btn-filled.btn-hover-primary:focus, input[type="button"].btn-filled.btn-hover-primary:focus, input[type="reset"].btn-filled.btn-hover-primary:focus, input[type="submit"].btn-filled.btn-hover-primary:focus, .btn.btn-filled.btn-hover-primary:focus {
  color: #43B4AE;
}

button.btn-block, input[type="button"].btn-block, input[type="reset"].btn-block, input[type="submit"].btn-block, .btn.btn-block {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

button.btn-small, input[type="button"].btn-small, input[type="reset"].btn-small, input[type="submit"].btn-small, .btn.btn-small {
  padding: 7px 24px 8px;
}

button.btn-tiny, input[type="button"].btn-tiny, input[type="reset"].btn-tiny, input[type="submit"].btn-tiny, .btn.btn-tiny {
  font-size: 12px;
  font-weight: normal;
  padding: 0 4.25px;
  line-height: 1.5833;
}

button.btn-icon-left .btn-icon, input[type="button"].btn-icon-left .btn-icon, input[type="reset"].btn-icon-left .btn-icon, input[type="submit"].btn-icon-left .btn-icon, .btn.btn-icon-left .btn-icon {
  margin-right: 4px;
}

button.btn-icon-right .btn-icon, input[type="button"].btn-icon-right .btn-icon, input[type="reset"].btn-icon-right .btn-icon, input[type="submit"].btn-icon-right .btn-icon, .btn.btn-icon-right .btn-icon {
  margin-left: 4px;
}

/* 10. METRICS MODIFICATION - INPUT
       - css from METRICS WP
========================================================================*/
input[type="email"]::-webkit-input-placeholder {
  font-style: italic;
  color: #474747;
}

input[type="email"]:-moz-placeholder {
  font-style: italic;
  color: #474747;
}

input[type="email"]::-moz-placeholder {
  font-style: italic;
  color: #474747;
}

input[type="email"]:-ms-input-placeholder {
  font-style: italic;
  color: #474747;
}

/* 11. METRICS MODIFICATION - PANEL ACCORDION
========================================================================*/
.help-accordion .panel-default .panel-heading .panel-title a.collapsed::after {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  top: 27px;
}

.help-accordion .panel-default .panel-heading .panel-title a::after {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  top: 27px;
}

.help-accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
  font-family: inherit;
  font-weight: normal;
}

.help-accordion .panel-group .panel-default .panel-heading .panel-title a.collapsed {
  padding: 24px 30px 24px 26px;
}

/* 12. METRICS MODIFICATION - SECTION
========================================================================*/
/*  PROTECTED Page */
.protected-page-area {
  padding-top: 60px;
  padding-bottom: 60px;
}

.protected-page-area form input[type="password"] {
  padding: 13px 32px 14px 32px;
  height: auto;
  border: 2px solid #CCC;
  border-right: transparent;
}

.protected-page-area form input[type="password"],
.protected-page-area form input[type="password"]:focus {
  border-right: none;
}

.protected-page-area .input-group-btn:last-child > .btn,
.protected-page-area .input-group-btn:last-child > .btn-group {
  margin-left: 0;
}

/*  NEWS Area */
.news-content-area {
  padding-top: 0;
  padding-bottom: 80px;
}

.news-content-area .news-article-preview {  }

.news-content-area .news-article-preview .full-intro-img {  }

.news-content-area .news-article-preview .full-intro-head {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 24px;
}

.news-content-area .news-article-preview .full-intro-content {
  border-bottom: none;
}

.news-content-area .news-article-preview .full-intro-content p {
  width: 100%;
  padding: 10px 0;
}

.news-content-area .full-intro-head {
  padding-top: 0px;
  padding-bottom: 0px;
}

.news-content-area .full-intro-content p {
  width: 100%;
  padding: 10px 0;
}

.news-content-area-new {
  padding-top: 0;
  padding-bottom: 80px;
}

.news-content-area-new h2 {
  padding-bottom: 16px;
  margin-bottom: 60px;
  border-bottom: 2px solid #efefef;
}

.news-content-area-new .full-intro-head {
  padding-top: 0px;
  padding-bottom: 0px;
}

.news-content-area-new .full-intro-head p {
  font-size: 13px;
  color: #616161;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
}

.news-content-area-new .full-intro-head p span {
  color: #43b4ae;
  padding-left: 5px;
  padding-right: 5px;
}

.news-content-area-new .full-intro-content {
  border-bottom: none;
}

.news-content-area-new .full-intro-content p {
  width: 100%;
  padding: 10px 0;
}

.news-content-area-new .owl-carousel .owl-dots{
  top: 26px;
  position: relative;
}

/*  FAQ Area */
.faq-content-area {
  padding-top: 0;
  padding-bottom: 80px;
}


.faq-content-area .help-accordion {
  margin-top: 0;
}

/* DOWNLOAD Area */
.download-content-area {
  padding-top: 0;
  padding-bottom: 80px;
}

.download-content-area .full-intro-head {
  padding: 0;
}

.download-content-area .full-intro-content p {
  padding: 20px 0px 20px 0px;
  margin: 0 auto;
  width: 80%;
  line-height: 24px;
}

.download-content-area-new {
  padding-top: 0;
  padding-bottom: 80px;
}

.download-content-area-new h2 {
  padding-bottom: 16px;
  margin-bottom: 60px;
  border-bottom: 2px solid #efefef;
}

.download-content-area-new .downl-news-title {
  margin-bottom: 60px;
}

/* BLOG Area */
.blog-content-area {
  padding-top: 0;
  padding-bottom: 80px;
}

.blog-content-area .blog-article-preview {  }

.blog-content-area .blog-article-preview .full-intro-img {  }

.blog-content-area .blog-article-preview .full-intro-head {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 24px;
}

.blog-content-area .blog-article-preview .full-intro-content p {
  font-size: 13px;
  color: #616161;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
}

.blog-content-area .blog-article-preview .full-intro-content p.text {
  font-size: 13px;
  color: #616161;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  padding: 10px 0;
}

.blog-content-area .blog-article-preview .full-intro-content p span {
  color: #43b4ae;
  padding-left: 5px;
  padding-right: 5px;
}

.blog-content-area .blog-article-preview .full-intro-content {
  border-bottom: none;
}

.blog-content-area .blog-article-preview .full-intro-content p {
  width: 100%;
}

/* CONTACT Area */
.contact-us-1-area {
  padding-top: 0;
}

/* 13. PAGINATION
========================================================================*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 0;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #43B4AE;
  text-decoration: none;
  background-color: #FFF;
  border: none;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  z-index: 2;
  color: #000;
  background-color: #FFF;
  border: none;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3;
  color: #FFF;
  cursor: default;
  background-color: #000;
  border-color: #000;
}

.pagination > li > a.prev-button,
.pagination > li > a.next-button {
  color: #43B4AE;
  border: none;
}

.pagination > li > a.prev-button:hover,
.pagination > li > a.next-button:hover {
  color: #000;
  background-color: #FFF;
}

/* 14. NECESSARY CODE !!! - NEWS
       - basic code for sidebar menu.

       If you want, change only color
========================================================================*/
/* Edit, QuickEdit links */

/* Thumbnail image for news.php, downloadfile.php */
.thumb-news {
  position: relative;
}

.thumb-news .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.thumb-news .caption span {
  font-size: 46px;
  font-weight: bold;
  width: 100%;
  float: left;
}

.thumb-news .caption span.color1 {
  color: #FFF;
}

.thumb-news .caption span.color2 {
  color: #43B4AE;
}

/* Thumbnail image for downloadfile.php */
.thumb-download {
  position: relative;
}

.thumb-download .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.thumb-download .caption span {
  font-size: 40px;
  font-weight: bold;
  line-height: 45px;
  width: 100%;
  float: left;
}

.thumb-download .caption span.color1 {
  color: #FFF;
}

.thumb-download .caption span.color2 {
  color: #43B4AE;
}