/* GLOBAL */
* {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: #008BDC;
  text-decoration: none;
}

a:hover {
  color: #005384;
}

#wrapper {
  margin: 0 auto;
  min-width: 944px;
}

#slider-wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
}

#full-slider-wrapper {
  margin: 0 auto;
  padding: 40px 0;
}

.clear {
  clear: both;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.light {
  font-weight: normal !important;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.c {
  text-align: center !important;
}

.l {
  text-align: left !important;
}

.i {
  font-style: italic !important;
}

.b {
  font-weight: bold;
}

strong {
  color: #444;
}

strong, b {
  font-weight: bold;
}

.nw, .nw * {
  white-space: nowrap !important;
}

/* HEADER */
header {
  width: 100%;
  height: 56px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #37474F;
  color: #FFF;
  z-index: 10;
}

header h1 {
  height: 36px;
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

header h1 span {
  font-family: Arial !important;
  font-weight: 300;
}

header h2 {
  height: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-family: Arial, serif;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

header h1, header h2 {
  transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

header p {
  margin: 0;
  font-weight: normal;
}

header p i {
  color: #FFF;
  font-style: normal;
}

header p a {
  text-decoration: none;
}

/* SUB NAVIGATION */
#subnav {
  width: 100%;
  height: 32px;
  position: fixed;
  left: 0;
  top: 56px;
  line-height: 32px;
  background: #F1F1F1;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  z-index: 9;
  padding: 0 10px;
  font-size: 11px;
  line-height: 32px;
  font-weight: bold;
  color: #656565;
}

#subnav h3 {
  float: left;
  margin: 0;
}

#subnav h3:first-child {
  width: 245px;
  border-right: 1px solid #DFDFDF;
  margin-right: 20px;
}

/* SIDEBAR */
aside {
  width: 255px;
  position: absolute;
  top: 90px;
  bottom: 0;
  background: #F1F1F1;
  border-right: 1px solid #DDD;
  overflow-y: auto;
}

aside ul {
  list-style-type: none;
  font-size: 14px;
  color: black;
  margin: 0;
  padding: 0;
}

aside ul li {
  position: relative;
  line-height: 26px;
  cursor: pointer;
  padding: 0 10px;
}

aside ul li span {
  font-weight: 500;
  font-family: 'Roboto', 'Open Sans';
}

aside ul li:hover {
  color: #26A69A;
}

aside ul li.active:hover {
  color: white;
  cursor: default;
}

aside ul li.active ul {
  height: auto;
}

aside li.active {
  color: white;
  background: #26A69A;
}

aside ul ul li.active {
  color: #26A69A;
  cursor: pointer;
}

aside ul ul li.active:hover {
  color: #26A69A;
  cursor: default;
}

aside ul ul {
  font-size: 13px;
  display: none;
  width: 100%;
  padding: 5px 10px;
  background: white;
  margin-left: -10px;
  border-bottom: 1px solid #DDD;
}

aside li.active ul {
  display: block;
}

aside ul ul li {
  padding: 0;
  line-height: 22px;
  background: none !important;
}

aside ul ul li,
aside ul ul li span {
  font-weight: normal !important;
}

/* CONTENT */
#content {
  position: absolute;
  left: 255px;
  right: 0;
  top: 90px;
  bottom: 0;
  overflow-y: auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #222;
}

#content > div {
  padding: 20px;
}

#content section, #content article {
  display: none;
}

#content section.active, #content article.active {
  display: block;
}

#example-wrapper {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
}

#example {
  padding: 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #CCC;
  background: white;
  border-radius: 7px;
}

h4 {
  margin: 40px 0 0 0;
  padding: 0;
  font-size: 29px;
  color: #26A69A;
  letter-spacing: -1px;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h5 {
  margin: 40px 0 0 0;
  padding: 0;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #444;
  text-transform: uppercase;
  letter-spacing: -1px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e5e9ec;
}

section ol, section ul {
  padding-left: 40px;
}

section ol, section ul, section p, section > div, article > div {
  margin: 20px 0 0 0;
}

section li p,
section ol li:first-child,
section ul li:first-child,
section .nomargin > *,
article .nomargin > *
section li li,
section > *:first-child,
article > *:first-child,
.table-header ul,
.table-header ul li {
  margin-top: 0;
}

section li {
  padding: 2px 0;
}

table thead:first-child tr th:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}

table thead:first-child tr th:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}

.table-header {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}

.table {
  width: 100%;
  max-width: 100%;
  border: 1px solid #CCC;
  margin-top: 20px;
  border-radius: 4px;
}

.table .table-header {
  height: 16px;
  padding: 4px 0;
  border-bottom: 1px solid #CCC;
  background: #EEE; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #EEE 0%, #DDD 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEE), color-stop(100%, #DDD)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #EEE 0%, #DDD 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #EEE 0%, #DDD 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #EEE 0%, #DDD 100%); /* IE10+ */
  background: linear-gradient(to bottom, #EEE 0%, #DDD 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0); /* IE6-8 */
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
}

.table .table-header h4 {
  color: #333;
}

.table .table-header span {
  display: block;
  float: left;
  margin-left: 8px;
  color: #888;
  text-shadow: 0 1px 1px white;
}

.table .table-header ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.table .table-header ul li {
  display: inline-block;
  margin-left: 8px;
  text-shadow: 0 1px 1px white;
  color: #333;
  cursor: pointer;
}

.table .table-header ul li.active {
  border: 1px solid #444;
  padding: 0 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 1px white;
  -moz-box-shadow: 0 1px 1px white;
  box-shadow: 0 1px 1px white;
  color: white;
  text-shadow: 0 1px #333;
  line-height: 14px;
  background: #464646; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2NDY0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NDY0NjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #464646 0%, #646464 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #464646), color-stop(100%, #646464)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #464646 0%, #646464 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #464646 0%, #646464 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #464646 0%, #646464 100%); /* IE10+ */
  background: linear-gradient(to bottom, #464646 0%, #646464 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#464646', endColorstr='#646464', GradientType=0); /* IE6-8 */
}

.table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.table th {
  color: #333;
  text-shadow: 0 1px 1px white;
  border: 1px solid #CCC;
  border-left: none;
  text-align: left;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  background: #F5F5F5; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #F5F5F5 0%, #EBEBEB 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(100%, #EBEBEB)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #F5F5F5 0%, #EBEBEB 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #F5F5F5 0%, #EBEBEB 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #F5F5F5 0%, #EBEBEB 100%); /* IE10+ */
  background: linear-gradient(to bottom, #F5F5F5 0%, #EBEBEB 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ebebeb', GradientType=0); /* IE6-8 */
}

.table thead:first-child th {
  border-top: none;
}

.table th:last-child {
  border-right: 0;
}

.table td {
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  padding: 10px;
}

tr td:first-child {
  font-weight: bold;
}

td.c {
  white-space: nowrap;
}

.table td:last-child {
  border-right: 0;
}

.table tr:last-child td {
  border-bottom: 0;
}

/* LEGEND */
.km-legend {
  margin: 10px 0;
  padding: 0;
}

.km-legend li, .km-tag {
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 0 5px;
  color: white;
  font-family: Arial, serif;
  font-size: 11px;
  line-height: 16px;
  border-radius: 4px;
  text-transform: uppercase;
}

.km-legend li.title {
  color: #333;
  text-transform: none;
  font-weight: bold;
  font-size: 13px;
}

.red {
  background: #FF3429;
}

.orange {
  background: #EFA90F;
}

.blue {
  background: #6093FF;
}

.green {
  background: green;
}

/* NOTIFICATIONS */
.km-notification {
  position: relative;
  margin-top: 10px;
  border: 1px solid #DEDEDE;
  padding: 5px 5px 5px 35px;
  border-radius: 4px;
  font-size: 13px;
  color: #444;
  line-height: 24px;
}

.km-notification.info {
  border: 1px solid #98C7F4;
}

.km-notification.warning {
  border: 1px solid #E25B4F;
}

.km-notification span {
  position: absolute;
  left: 5px;
  top: 5px;
  height: 100%;
  font-size: 18px;
  display: block;
  float: left;
  margin-right: 5px;
}

.km-notification.info span {
  color: #6DA9E2;
}

.km-notification.warning span {
  color: #E25B4F;
}

figure {
  margin: 15px 10px 20px 10px;
  font-style: italic;
  font-size: 12px;
  text-align: left;
  color: #555;
  display: inline-block;
}

figure img {
  max-width: 880px;
  border-radius: 4px;
}

cite {
  margin: 5px 10px 20px 10px;
  font-style: italic;
  font-size: 12px;
  text-align: right;
  color: #555;
  display: block;
}

.zigzag {
  padding-top: 20px;
  background: url(../img/zigzag.png) top left repeat-x;
  top: -20px;
  position: relative;
}

#content .syntaxhighlighter {
  margin: 0 !important;
}

code {
  color: #c7254e;
  background-color: #f9f2f4;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9em;
  padding: 2px 4px;
  border-radius: 4px;
  white-space: nowrap;
}

.ls-popup {
  width: 300px;
  height: 150px;
  position: absolute;
  padding: 5px;
  background: white;
  background: rgba(255, 255, 255, .8);
  border-radius: 7px;
  color: #EEE;
  z-index: 6000;
  box-shadow: 0 5px 30px -5px black;
}

.ls-popup .inner {
  width: 300px;
  height: 150px;
}

.video {
  position: relative;
  float: left;
  margin-right: 15px;
}

.video img {
  width: 130px;
  height: 73px;
  border-radius: 3px;
}

.video:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/play.png) center center no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.video-box h4 {
  margin-top: 5px;
  color: #000;
  font-size: 18px;
}

.video-box p {
  margin-top: 5px;
}

table.fr-150 th:first-child,
table.fr-150 td:first-child {
  width: 150px;
  vertical-align: top;
}

table.fr-200 th:first-child,
table.fr-200 td:first-child {
  width: 200px;
  vertical-align: top;
}

/*
 * CSS3 Treeview. No JavaScript
 * http://experiments.wemakesites.net/miscellaneous/acidjs-css3-treeview/
 */

.css-treeview ul,
.css-treeview li {
  padding: 0;
  margin: 5px 0 5px 0;
  list-style: none;
}

.css-treeview li:first-child {
  margin: 5px 0 5px 0;
}

.css-treeview li p {
  margin: 10px !important;
  color: #8D8D8D;
}

.css-treeview li.file {
  margin-left: 17px;
  background: url("../img/icons.png") no-repeat 0 -48px;
}

.css-treeview ul li ul li.file {
  margin-left: 0;
}

.css-treeview li.file:before {
  content: "";
  height: 16px;
  width: 16px;
  margin: 0 10px;
}

.css-treeview input {
  position: absolute;
  opacity: 0;
}

.css-treeview {
  font: normal 12px "Segoe UI", Arial, Sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.css-treeview a {
  color: #00F;
  text-decoration: none;
}

.css-treeview a:hover {
  text-decoration: underline;
}

.css-treeview input + label + ul,
.css-treeview input + label + span + ul {
  margin: 0 0 0 22px;
}

.css-treeview input ~ ul {
  display: none;
}

.css-treeview label,
.css-treeview label::before {
  cursor: pointer;
}

.css-treeview input:disabled + label {
  cursor: default;
  opacity: .6;
}

.css-treeview input:checked:not(:disabled) ~ ul {
  display: block;
}

.css-treeview label,
.css-treeview label::before {
  background: url("../img/icons.png") no-repeat;
}

.css-treeview label,
.css-treeview a,
.css-treeview label::before {
  display: inline-block;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
}

.css-treeview label {
  color: #157efb;
  font-weight: 700;
  background-position: 18px 0;
}

.css-treeview li span {
  color: #656565;
  font-weight: 300;
  margin-left: 10px;
}

.css-treeview label::before {
  content: "";
  width: 16px;
  margin: 0 22px 0 0;
  vertical-align: middle;
  background-position: 0 -32px;
}

.css-treeview input:checked + label::before {
  background-position: 0 -16px;
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .css-treeview {
    -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
  }

  @-webkit-keyframes webkit-adjacent-element-selector-bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }
}

/* SHOW ICONS LIST */
ul.show-icon {
  list-style: none;
  position: relative;
}

ul.show-icon li {
  width: 150px;
  height: 60px;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: 5px 0 0 0;
  position: relative;
  margin: 5px;
}

ul.show-icon i {
  font-size: 2em;
}

ul.show-icon span {
  font-size: 12px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.1);
}

/* LIVE SEARCH */
.live-search {
  padding: 10px;
  background: #DFDFDF;
}

.live-search input.text-input {
  background: none;
  border: 1px solid #999;
  background: #FFF;
  padding: 5px;
  width: 246px;
  font-size: 16px;
  line-height: 1em;
  margin: 0 20px;
}

.live-search p {
  float: left;
  margin: 0;
  line-height: 2em;
}