body {
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.46666667;
  color: #777777;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  line-height: 1.2;
}

.light-gray-bg {
  background-color: #fafafa;
}

/* Navbar */
.navbar {
  border-bottom: 1px solid #f1f1f1;
  background-color: rgba(0, 0, 0, 0.95);
  height: 65px;
}
.logo {
  height: 64px;
}
.logo img {
  padding: 15px;
}
.navbar-brand {
  height: 64px;
  line-height: 32px;
}

/* Separator */
.separator-2, .separator-3 {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  height: 1px;
}

.separator-2:after {
  height: 1px;
  background: #d1d1d1;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.18)), color-stop(35%, rgba(0, 0, 0, 0.12)), color-stop(70%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  bottom: -1px;
  left: 0px;
  content: "";
  width: 100%;
}

/* Button */
.btn {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-default {
  color: #ffffff;
  background-color: #09afdf;
  border-color: #0c9ec7;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
  color: #ffffff;
  background-color: #0c9ec7;
  border-color: #0c9ec7;
}

.square {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}