# Enable the Rewrite engine
    RewriteEngine On

# URL Canonicalization with HTTPS
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} !^www\. [NC]
    RewriteRule ^ https://www.your_domain.com%{REQUEST_URI} [R=301,L,NE]


# SEO Url friendly
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([a-zA-Z0-9,-]+)/?$ index.php?s=$1 [L,QSA]

# URL not found
	ErrorDocument 404 /404/

# Gzip compression
# compress text, html, javascript, css, xml:
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript

# 1 WEEK
	<FilesMatch "\.(jpg|jpeg|png|gif|swf|pdf|js|css|woff2)$">
	Header set Cache-Control "max-age=604800, public"
	</FilesMatch>