@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?c7d494f2a577f602c064e429e3fd96a8") format("truetype"),
url("../fonts/flaticon.woff?c7d494f2a577f602c064e429e3fd96a8") format("woff"),
url("../fonts/flaticon.woff2?c7d494f2a577f602c064e429e3fd96a8") format("woff2"),
url("../fonts/flaticon.eot?c7d494f2a577f602c064e429e3fd96a8#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?c7d494f2a577f602c064e429e3fd96a8#flaticon") format("svg");
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "flaticon";
        src: url("../fonts/flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: flaticon;
    font-style: normal;
}

.flaticon-roof:before {
    content: "\f101";
}
.flaticon-roof-1:before {
    content: "\f102";
}
.flaticon-home:before {
    content: "\f103";
}
.flaticon-roof-2:before {
    content: "\f104";
}
.flaticon-house:before {
    content: "\f105";
}
.flaticon-roof-3:before {
    content: "\f106";
}
.flaticon-roof-4:before {
    content: "\f107";
}
.flaticon-broken-house:before {
    content: "\f108";
}
.flaticon-roof-5:before {
    content: "\f109";
}
.flaticon-roof-6:before {
    content: "\f10a";
}
.flaticon-roof-7:before {
    content: "\f10b";
}
.flaticon-roof-8:before {
    content: "\f10c";
}
.flaticon-terrace:before {
    content: "\f10d";
}
.flaticon-facade:before {
    content: "\f10e";
}
.flaticon-terrace-1:before {
    content: "\f10f";
}
.flaticon-flash:before {
    content: "\f110";
}
.flaticon-flash-1:before {
    content: "\f111";
}
.flaticon-flash-2:before {
    content: "\f112";
}
.flaticon-flash-3:before {
    content: "\f113";
}
.flaticon-lightning-in-a-circle:before {
    content: "\f114";
}
.flaticon-lightning-bolt:before {
    content: "\f115";
}
.flaticon-thermometer:before {
    content: "\f116";
}
.flaticon-lightning:before {
    content: "\f117";
}
.flaticon-lightning-1:before {
    content: "\f118";
}
.flaticon-badge-with-lightning:before {
    content: "\f119";
}
.flaticon-satellite-dish:before {
    content: "\f11a";
}
.flaticon-radio-antenna:before {
    content: "\f11b";
}
.flaticon-antenna:before {
    content: "\f11c";
}
.flaticon-tv-monitor:before {
    content: "\f11d";
}
.flaticon-antenna-1:before {
    content: "\f11e";
}
.flaticon-antenna-2:before {
    content: "\f11f";
}
.flaticon-satellite-dish-1:before {
    content: "\f120";
}
.flaticon-antenna-3:before {
    content: "\f121";
}
.flaticon-radio-antenna-1:before {
    content: "\f122";
}
.flaticon-antenna-4:before {
    content: "\f123";
}
.flaticon-price-tags:before {
    content: "\f124";
}
.flaticon-price-tag:before {
    content: "\f125";
}
.flaticon-tag:before {
    content: "\f126";
}
.flaticon-price:before {
    content: "\f127";
}
.flaticon-price-tag-1:before {
    content: "\f128";
}
.flaticon-price-tag-2:before {
    content: "\f129";
}
.flaticon-badge:before {
    content: "\f12a";
}
.flaticon-tag-1:before {
    content: "\f12b";
}
.flaticon-price-tag-3:before {
    content: "\f12c";
}
.flaticon-discount:before {
    content: "\f12d";
}
.flaticon-tag-2:before {
    content: "\f12e";
}
.flaticon-price-label:before {
    content: "\f12f";
}
.flaticon-tag-3:before {
    content: "\f130";
}
.flaticon-low-prices:before {
    content: "\f131";
}
.flaticon-tag-4:before {
    content: "\f132";
}
.flaticon-discount-1:before {
    content: "\f133";
}
.flaticon-discount-2:before {
    content: "\f134";
}
.flaticon-tag-5:before {
    content: "\f135";
}
.flaticon-price-tag-4:before {
    content: "\f136";
}
.flaticon-customer-support:before {
    content: "\f137";
}
.flaticon-settings:before {
    content: "\f138";
}
.flaticon-wrench:before {
    content: "\f139";
}
.flaticon-wrench-1:before {
    content: "\f13a";
}
.flaticon-wrench-2:before {
    content: "\f13b";
}
.flaticon-setting:before {
    content: "\f13c";
}
.flaticon-wrench-3:before {
    content: "\f13d";
}
.flaticon-holding-wrench:before {
    content: "\f13e";
}
.flaticon-tool:before {
    content: "\f13f";
}
.flaticon-lug-wrench:before {
    content: "\f140";
}
.flaticon-adjustable-wrench:before {
    content: "\f141";
}
.flaticon-pipe-wrench:before {
    content: "\f142";
}
.flaticon-adjustable-wrench-1:before {
    content: "\f143";
}
.flaticon-configuration-hand-drawn-interface-symbol-of-tools-a-pencil-and-a-wrench-cross:before {
    content: "\f144";
}
.flaticon-mechanic:before {
    content: "\f145";
}
.flaticon-mechanic-1:before {
    content: "\f146";
}
.flaticon-mechanic-2:before {
    content: "\f147";
}
.flaticon-engineer:before {
    content: "\f148";
}
.flaticon-trophy:before {
    content: "\f149";
}
.flaticon-trophy-1:before {
    content: "\f14a";
}
.flaticon-trophy-2:before {
    content: "\f14b";
}
.flaticon-trophy-3:before {
    content: "\f14c";
}
.flaticon-maintenance:before {
    content: "\f14d";
}
.flaticon-technical-support:before {
    content: "\f14e";
}
.flaticon-maintenance-1:before {
    content: "\f14f";
}
.flaticon-maintenance-2:before {
    content: "\f150";
}
.flaticon-restructure:before {
    content: "\f151";
}
.flaticon-maintenance-3:before {
    content: "\f152";
}
.flaticon-customer-service:before {
    content: "\f153";
}
.flaticon-support:before {
    content: "\f154";
}
.flaticon-support-1:before {
    content: "\f155";
}
.flaticon-technical-support-1:before {
    content: "\f156";
}
.flaticon-24-hours-support:before {
    content: "\f157";
}
.flaticon-24-hours:before {
    content: "\f158";
}
.flaticon-open-24-hours:before {
    content: "\f159";
}
.flaticon-support-2:before {
    content: "\f15a";
}
.flaticon-customer-service-1:before {
    content: "\f15b";
}
.flaticon-24-hours-1:before {
    content: "\f15c";
}
.flaticon-settings-1:before {
    content: "\f15d";
}
.flaticon-consulting:before {
    content: "\f15e";
}
.flaticon-right-arrow:before {
    content: "\f15f";
}
.flaticon-right-arrow-1:before {
    content: "\f160";
}
.flaticon-arrow-pointing-to-right:before {
    content: "\f161";
}
.flaticon-right:before {
    content: "\f162";
}
.flaticon-right-chevron:before {
    content: "\f163";
}
.flaticon-right-arrow-2:before {
    content: "\f164";
}
.flaticon-right-arrow-3:before {
    content: "\f165";
}
.flaticon-double-chevron:before {
    content: "\f166";
}
.flaticon-right-arrow-4:before {
    content: "\f167";
}
.flaticon-arrows:before {
    content: "\f168";
}
.flaticon-arrow-angle-pointing-to-right:before {
    content: "\f169";
}
.flaticon-right-arrow-5:before {
    content: "\f16a";
}
.flaticon-right-arrow-6:before {
    content: "\f16b";
}
.flaticon-right-chevron-1:before {
    content: "\f16c";
}
.flaticon-right-arrow-7:before {
    content: "\f16d";
}
.flaticon-logout:before {
    content: "\f16e";
}
.flaticon-right-arrow-8:before {
    content: "\f16f";
}
.flaticon-right-arrow-angle-of-two-shapes:before {
    content: "\f170";
}
.flaticon-keyboard-right-arrow-button:before {
    content: "\f171";
}
.flaticon-deadline:before {
    content: "\f172";
}
.flaticon-deadline-1:before {
    content: "\f173";
}
.flaticon-deadline-2:before {
    content: "\f174";
}
.flaticon-deadline-3:before {
    content: "\f175";
}
.flaticon-deadline-4:before {
    content: "\f176";
}
.flaticon-deadline-5:before {
    content: "\f177";
}
.flaticon-deadline-6:before {
    content: "\f178";
}
.flaticon-deadline-7:before {
    content: "\f179";
}
.flaticon-deadline-8:before {
    content: "\f17a";
}
.flaticon-deadline-9:before {
    content: "\f17b";
}
.flaticon-deadline-10:before {
    content: "\f17c";
}
.flaticon-deadline-11:before {
    content: "\f17d";
}
.flaticon-deadline-12:before {
    content: "\f17e";
}
.flaticon-deadline-13:before {
    content: "\f17f";
}
.flaticon-manufacture:before {
    content: "\f180";
}
.flaticon-production:before {
    content: "\f181";
}
.flaticon-automation:before {
    content: "\f182";
}
.flaticon-conveyor:before {
    content: "\f183";
}
.flaticon-manufacturing:before {
    content: "\f184";
}
.flaticon-production-1:before {
    content: "\f185";
}
.flaticon-trade:before {
    content: "\f186";
}
.flaticon-badge-1:before {
    content: "\f187";
}
.flaticon-badge-2:before {
    content: "\f188";
}
.flaticon-medal:before {
    content: "\f189";
}
.flaticon-winner:before {
    content: "\f18a";
}
.flaticon-quality:before {
    content: "\f18b";
}
.flaticon-vegan:before {
    content: "\f18c";
}
.flaticon-badge-3:before {
    content: "\f18d";
}
.flaticon-mail:before {
    content: "\f18e";
}
.flaticon-email:before {
    content: "\f18f";
}
.flaticon-envelope:before {
    content: "\f190";
}
.flaticon-email-1:before {
    content: "\f191";
}
.flaticon-email-2:before {
    content: "\f192";
}
.flaticon-email-3:before {
    content: "\f193";
}
.flaticon-email-4:before {
    content: "\f194";
}
.flaticon-telephone:before {
    content: "\f195";
}
.flaticon-telephone-1:before {
    content: "\f196";
}
.flaticon-phones:before {
    content: "\f197";
}
.flaticon-phone:before {
    content: "\f198";
}
.flaticon-call:before {
    content: "\f199";
}
.flaticon-phone-with-wire:before {
    content: "\f19a";
}
.flaticon-phone-call:before {
    content: "\f19b";
}
.flaticon-phone-with-wire-1:before {
    content: "\f19c";
}
.flaticon-black-phone-auricular:before {
    content: "\f19d";
}
.flaticon-phone-auricular-with-cable:before {
    content: "\f19e";
}
.flaticon-paper-plane:before {
    content: "\f19f";
}
.flaticon-send:before {
    content: "\f1a0";
}
.flaticon-send-1:before {
    content: "\f1a1";
}
.flaticon-placeholder:before {
    content: "\f1a2";
}
.flaticon-placeholder-1:before {
    content: "\f1a3";
}
.flaticon-map:before {
    content: "\f1a4";
}
.flaticon-signs:before {
    content: "\f1a5";
}
.flaticon-home-1:before {
    content: "\f1a6";
}
.flaticon-pin:before {
    content: "\f1a7";
}
.flaticon-location-pin:before {
    content: "\f1a8";
}
.flaticon-guaranteed:before {
    content: "\f1a9";
}
.flaticon-guarantee:before {
    content: "\f1aa";
}
.flaticon-guarantee-1:before {
    content: "\f1ab";
}
.flaticon-guarantee-2:before {
    content: "\f1ac";
}
.flaticon-truck:before {
    content: "\f1ad";
}
.flaticon-delivery-truck:before {
    content: "\f1ae";
}
.flaticon-moving-truck:before {
    content: "\f1af";
}
.flaticon-green:before {
    content: "\f1b0";
}
.flaticon-care:before {
    content: "\f1b1";
}
.flaticon-free:before {
    content: "\f1b2";
}
.flaticon-free-1:before {
    content: "\f1b3";
}
.flaticon-free-2:before {
    content: "\f1b4";
}
.flaticon-free-3:before {
    content: "\f1b5";
}
.flaticon-free-4:before {
    content: "\f1b6";
}
.flaticon-free-5:before {
    content: "\f1b7";
}
.flaticon-free-6:before {
    content: "\f1b8";
}
.flaticon-origami:before {
    content: "\f1b9";
}
.flaticon-upload:before {
    content: "\f1ba";
}
.flaticon-upwards-arrow:before {
    content: "\f1bb";
}
.flaticon-upload-1:before {
    content: "\f1bc";
}
