/* XX. BASIC STYLE
========================================================================*/
body {
  padding-top: 110px;
}

/* XX. COLORS
========================================================================*/
/* Main menu */
.contact-phone a {
  font-weight: bold;
}

.contact-phone a:hover {
  text-decoration: none;
}

.contact-phone a {
  color: #999;
}

body.header-3 .quick-menu a:hover {
  color: #000;
}

body.header-5 .contact-phone a {
  color: #FFF;
}

body.header-5.color-yellow .contact-phone a {
  color: #000;
}

body.header-5.color-color2 .contact-phone a {
  color: #999;
}

/* XX. Login form
========================================================================*/
#top-login-password {
  position: relative;
}

#top-login-password .show-pass {
  display: block;
  right: 1px;
  position: absolute;
  top: 9px;
  cursor: pointer;
  z-index: 3;
  padding: 0 6px;
  border-left: 1px solid #CCC;
}

label.checkbox-inline {
  line-height: 18px;
}

/* XX. HEADER
========================================================================*/
/* Remove float for touch device in main menu */
@media (max-width: 768px) {
  .navbar-collapse.pull-right {
    float: none !important;
  }
}

/* Search box */
.search-box {
  display: block;
  font-size: 13px;
  padding: 30px 10px;
}

#show-nav:hover {
  cursor: pointer;
}

#show-nav:hover i:before {
  color: #000 !important;
}
/* Search box for touch device*/
.responsive-search-box {
  width: 100%;
}

.responsive-search-box input,
.responsive-search-box span {
  border-radius: 0;
}

.responsive-search-box button {
  background-color: transparent;
  border: 0;
  font-size: 19px;
}


/* XX. Pricing Table
========================================================================*/
.pricing-table .pricing h3 {
  font-size: 51px;
}

.pricing-table ul li {
  padding: 13px 0;
}

/* XX. BOOTSTRAP Modal Popup
========================================================================*/
/* Fullscreen modal style */
/* popup modal - remove padding right if popup modal open */
body.modal-open {
  /* STOP MOVING AROUND! */
  /* position: fixed; */
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body.modal-open[style] {
  padding-right: 0 !important;
}

/* Fullscreen modal style */
.fullscreen.modal {
  padding-right: 0 !important;
}

.fullscreen.modal::-webkit-scrollbar {
  width: 0 !important; /*removes the scrollbar but still scrollable*/
  /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

.fullscreen .modal-dialog {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  color: #333;
}

.fullscreen .modal-content {
  height: 100%;
  min-height: 100%;
  border-radius: 0;
  color: #333;
  background: rgba(255, 255, 255, 0.97);
  overflow: auto;
}

.fullscreen .modal-header {
  padding: 5px 15px;
  text-align: right;
}

.fullscreen .modal-header .close {
  float: none;
}

.fullscreen .modal-body {
  padding: 0 50px;
  height: calc(100% - 112px);
}

.fullscreen .modal-body iframe {
  height: 100%;
}

/* Center modal style */
.centermodal {
  text-align: center;
  padding: 0 !important;
}

.centermodal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.centermodal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* XX. Alert Offline
========================================================================*/
.alert-offline {
  background-color: #263238;
  color: #FFF;
  padding: 15px;
  text-align: center;
}

.alert-offline [data-notify="icon"] {
  float: left;
}

/* XX. Sitemap Style
========================================================================*/
.sitemap {
  margin-left: 0;
  list-style-type: none;
  padding: 0;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}

.sitemap li {
  padding: 10px 0;
  font-weight: 600;
}

.sitemap ul {
  list-style-type: none;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
}

.sitemap ul li {
  padding: 3px 0;
  font-size: 0.9em;
  font-weight: 400;
}

/* XX. Footer Menu and Copyright
========================================================================*/
ul.footer-list-style {
  list-style-type: none;
  margin: 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
}

@media screen and (max-width: 992px) {
  ul.footer-list-style {
    text-align: inherit;
    margin-bottom: 10px;
  }
}

ul.footer-list-style li {
  display: inline-block;
}

ul.footer-list-style li:first-child {
  padding-left: 5px;
}

ul.footer-list-style li:after {
  content: '/';
  padding: 0 5px;
  color: #000;
}

ul.footer-list-style li:last-child:after {
  content: '';
}

footer#main-footer #footer-rights p {
  font-size: 14px;
}

#footer-rights a,
#footer-rights a:focus,
#footer-rights a:active {
  color: #000;
}

/* System Icons */
.system-icons i[class^="icon-"] {
  margin: auto;
  position: relative;
  left: 3px;
}

.system-icons a.btn-xs {
  padding: 3px 6px 2px 6px;
}

/* XX. Sollist Sharing
========================================================================*/
.feature-box .sl-container a {
  margin: 0;
}

.sl-container .sl-item {
  padding-bottom: 0 !important;
}

/* XX. OWL Carousel
========================================================================*/
.owl-carousel .owl-nav {
  top: 50%;
  position: absolute;
  margin-top: -20px;
  width: 100%;
}

.owl-carousel.show-nav-title .owl-nav {
  top: 0;
  right: 0;
  margin-top: -88px;
  width: auto;
}

.owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel.show-nav-title .owl-nav [class*="owl-"] {
  color: #93C220;
  border-color: #93C220;
}

.owl-carousel.show-nav-title .owl-nav [class*="owl-"],
.owl-carousel.show-nav-title .owl-nav [class*="owl-"]:hover,
.owl-carousel.show-nav-title .owl-nav [class*="owl-"]:active {
  font-size: 18px;
  background: transparent !important;
  width: 18px;
}

.owl-carousel.show-nav-title .owl-nav .owl-prev {
  left: -45px;
}

.owl-carousel .owl-nav .owl-prev::before {
  font-family: custom-icons;
  content: "\e89a";
  position: relative;
  left: -1px;
  top: 1px;
}

.owl-carousel .owl-nav .owl-next::before {
  font-family: custom-icons;
  content: "\e89b";
  position: relative;
  left: 2px;
  top: 1px;
}

/* XX. SEARCH OVERLAY
========================================================================*/
#full-screen-search p {
  font-size: 14px;
  margin-bottom: 40px;
  color: #FFF;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#full-screen-search input {
  width: 100%;
  background-color: transparent;
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, .1);
  border: 0;
  text-align: center;
  font-size: 35px;
  padding: 20px;
  color: #FFF;
  transition: all .3s ease-out;
}

.full-screen-nav-wrapper {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.full-screen-nav-wrapper button {
  position: absolute;
  right: 15px;
  bottom: 30px;
  background-color: transparent;
  border: 0;
}
.full-screen-nav-wrapper button i:before {
  font-size: 25px;
  color: rgba(255,255,255,.2);
  transition: all .2s ease-out;
}

.full-screen-nav-wrapper button:hover i:before {
  font-size: 25px;
  color: rgba(255,255,255,.5);
}