/* XX. BASIC STYLE
========================================================================*/
body {
  padding-top: 110px;
}

/* XX. NAVBAR
========================================================================*/
/* Main mininavbar - global settings */
body.header-5.color-yellow #pre-header a {
  color: #777 !important;
}

body.header-5.color-yellow #pre-header a:hover {
  color: #000 !important;
}

/* Main mininavbar - quick-menu */
.quick-menu li a:hover {
  color: #FFF !important;
}

body.header-3 .quick-menu li a:hover,
body.header-5 .quick-menu li a:hover {
  color: #000 !important;
}

/* Main mininavbar - contact phone */
.contact-phone a {
  font-weight: bold;
  color: #999;
}

body.header-5 .contact-phone a {
  font-weight: bold;
  color: #FFF;
}

body.header-3 .contact-phone a:hover,
body.header-5 .contact-phone a:hover {
  color: #000;
  text-decoration: none;
}

body.header-2 .contact-phone a:hover,
body.header-4 .contact-phone a:hover {
  color: #FFF;
  text-decoration: none;
}

body.header-5.color-yellow .contact-phone i::before {
  color: #777 !important;
}

/* Main mininavbar - social icons */
.social-icons li a:hover i::before {
  color: #FFF !important;
}

body.header-3 .social-icons li a:hover i::before,
body.header-5 .social-icons li a:hover i::before {
  color: #000 !important;
}

body.header-2 .social-icons li a:hover i::before,
body.header-4 .social-icons li a:hover i::before {
  color: #FFF !important;
}

body.header-5.color-yellow #pre-header a i::before {
  color: #777 !important;
}

body.header-5.color-yellow #pre-header a:hover i::before {
  color: #000 !important;
}

/* Main navbar - Colors for all header style without .header-2 */
.color-blue .menu-header .nav a.active,
.color-blue .menu-header .nav a.active:hover,
.color-blue .menu-header .nav a.cat-active,
.color-blue .menu-header .nav a.cat-active:hover {
  color: #3272A8;
  background-color: transparent;
}

.color-coffee .menu-header .nav a.active,
.color-coffee .menu-header .nav a.active:hover,
.color-coffee .menu-header .nav a.cat-active,
.color-coffee .menu-header .nav a.cat-active:hover {
  color: #995E1C;
  background-color: transparent;
}

.color-color .menu-header .nav a.active,
.color-color .menu-header .nav a.active:hover,
.color-color .menu-header .nav a.cat-active,
.color-color .menu-header .nav a.cat-active:hover {
  color: #46B0C3;
  background-color: transparent;
}

.color-gold .menu-header .nav a.active,
.color-gold .menu-header .nav a.active:hover,
.color-gold .menu-header .nav a.cat-active,
.color-gold .menu-header .nav a.cat-active:hover {
  color: #B39964;
  background-color: transparent;
}

.color-green .menu-header .nav a.active,
.color-green .menu-header .nav a.active:hover,
.color-green .menu-header .nav a.cat-active,
.color-green .menu-header .nav a.cat-active:hover {
  color: #93C220;
  background-color: transparent;
}

.color-light-blue .menu-header .nav a.active,
.color-light-blue .menu-header .nav a.active:hover,
.color-light-blue .menu-header .nav a.cat-active,
.color-light-blue .menu-header .nav a.cat-active:hover {
  color: #46B0C3;
  background-color: transparent;
}

.color-orange .menu-header .nav a.active,
.color-orange .menu-header .nav a.active:hover,
.color-orange .menu-header .nav a.cat-active,
.color-orange .menu-header .nav a.cat-active:hover {
  color: #EA761E;
  background-color: transparent;
}

.color-red .menu-header .nav a.active,
.color-red .menu-header .nav a.active:hover,
.color-red .menu-header .nav a.cat-active,
.color-red .menu-header .nav a.cat-active:hover {
  color: #DC492C;
  background-color: transparent;
}

.color-sea-green .menu-header .nav a.active,
.color-sea-green .menu-header .nav a.active:hover,
.color-sea-green .menu-header .nav a.cat-active,
.color-sea-green .menu-header .nav a.cat-active:hover {
  color: #2EB1A5;
  background-color: transparent;
}

.color-silver .menu-header .nav a.active,
.color-silver .menu-header .nav a.active:hover,
.color-silver .menu-header .nav a.cat-active,
.color-silver .menu-header .nav a.cat-active:hover {
  color: #BBB;
  background-color: transparent;
}

.color-yellow .menu-header .nav a.active,
.color-yellow .menu-header .nav a.active:hover,
.color-yellow .menu-header .nav a.cat-active,
.color-yellow .menu-header .nav a.cat-active:hover {
  color: #FFD829;
  background-color: transparent;
}

/* Main navbar - Color only for .header-2 */
.header-2.color-blue .menu-header .nav a.active,
.header-2.color-blue .menu-header .nav a.active:hover,
.header-2.color-blue .menu-header .nav a.cat-active,
.header-2.color-blue .menu-header .nav a.cat-active:hover {
  background: #3272A8;
  color: #FFF;
}

.header-2.color-coffee .menu-header .nav a.active,
.header-2.color-coffee .menu-header .nav a.active:hover,
.header-2.color-coffee .menu-header .nav a.cat-active,
.header-2.color-coffee .menu-header .nav a.cat-active:hover {
  background: #995E1C;
  color: #FFF;
}

.header-2.color-color .menu-header .nav a.active,
.header-2.color-color .menu-header .nav a.active:hover,
.header-2.color-color .menu-header .nav a.cat-active,
.header-2.color-color .menu-header .nav a.cat-active:hover {
  background: #46B0C3;
  color: #FFF;
}

.header-2.color-gold .menu-header .nav a.active,
.header-2.color-gold .menu-header .nav a.active:hover,
.header-2.color-gold .menu-header .nav a.cat-active,
.header-2.color-gold .menu-header .nav a.cat-active:hover {
  background: #B39964;
  color: #FFF;
}

.header-2.color-green .menu-header .nav a.active,
.header-2.color-green .menu-header .nav a.active:hover,
.header-2.color-green .menu-header .nav a.cat-active,
.header-2.color-green .menu-header .nav a.cat-active:hover {
  background: #93C220;
  color: #FFF;
}

.header-2.color-light-blue .menu-header .nav a.active,
.header-2.color-light-blue .menu-header .nav a.active:hover,
.header-2.color-light-blue .menu-header .nav a.cat-active,
.header-2.color-light-blue .menu-header .nav a.cat-active:hover {
  background: #46B0C3;
  color: #FFF;
}

.header-2.color-orange .menu-header .nav a.active,
.header-2.color-orange .menu-header .nav a.active:hover,
.header-2.color-orange .menu-header .nav a.cat-active,
.header-2.color-orange .menu-header .nav a.cat-active:hover {
  background: #EA761E;
  color: #FFF;
}

.header-2.color-red .menu-header .nav a.active,
.header-2.color-red .menu-header .nav a.active:hover,
.header-2.color-red .menu-header .nav a.cat-active,
.header-2.color-red .menu-header .nav a.cat-active:hover {
  background: #DC492C;
  color: #FFF;
}

.header-2.color-sea-green .menu-header .nav a.active,
.header-2.color-sea-green .menu-header .nav a.active:hover,
.header-2.color-sea-green .menu-header .nav a.cat-active,
.header-2.color-sea-green .menu-header .nav a.cat-active:hover {
  background: #2EB1A5;
  color: #FFF;
}

.header-2.color-silver .menu-header .nav a.active,
.header-2.color-silver .menu-header .nav a.active:hover,
.header-2.color-silver .menu-header .nav a.cat-active,
.header-2.color-silver .menu-header .nav a.cat-active:hover {
  background: #A1B4B8;
  color: #FFF;
}

.header-2.color-yellow .menu-header .nav a.active,
.header-2.color-yellow .menu-header .nav a.active:hover,
.header-2.color-yellow .menu-header .nav a.cat-active,
.header-2.color-yellow .menu-header .nav a.cat-active:hover {
  background: #FFD829;
  color: #000;
}

/* XX. ARTICLE - BLOG
========================================================================*/
article.post {
  float: left;
  width: 100%;
}

/* Icons */
.feature-box .feature-box-content .icon-tags {
  float: left;
  margin-right: 10px;
}

ul.entry-meta li i:before {
  color: #000;
}

ul.entry-meta li {
  font-size: 11px;
}

/* XX. COMMENTS
========================================================================*/
.post-comments {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 40px;
  padding: 0;
}

.post-comments ul {
  list-style-type: none;
  margin: 0 0 10px 30px;
  padding: 0;
}

.comment-wrapper .com {
  margin: 0;
  position: relative;
  border: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.comment-wrapper .com ul {
  list-style-type: disc;
  margin: 0 0 10px 30px;
  padding: 0;
}

.comment-author {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.comment-author img {
  max-width: 50px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  margin-right: 10px;
}

.comment-date {
  font-size: 0.9em;
  margin-right: 20px;
}

.comment-actions {
  text-align: right;
  opacity: 0.6;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}

.comment-actions:hover {
  text-align: right;
  opacity: 1;
}

.comment-reply-btn {
  margin-left: 10px;
}

/* XX. LOGIN FORM
========================================================================*/
.form-login .form-control {
}

.form-login input {
  border-radius: 0 !important;
  outline: none !important;
  border: 0 !important;
  padding: 18px 27px;
  height: auto;
  font-size: 19px;
}

label.checkbox-inline {
  line-height: 18px;
}

.form-login button {
  border-radius: 0;
}

/* XX. HEADER
========================================================================*/
/* Logo */
.navbar-brand {
  padding: 15px 0;
}

/* Remove float for touch device in main menu */
@media (max-width: 768px) {
  .navbar-collapse.pull-right {
    float: none !important;
  }
}

/* Search box */
.search-box {
  display: block;
  font-size: 13px;
  padding: 30px 10px;
}

#show-nav:hover {
  cursor: pointer;
}

#show-nav:hover i:before {
  color: #000 !important;
}

/* Search box for touch device*/
.responsive-search-box {
  width: 100%;
}

.responsive-search-box input,
.responsive-search-box span {
  border-radius: 0;
}

.responsive-search-box button {
  background-color: transparent;
  border: 0;
  font-size: 19px;
}

/* XX. PRICING TABLE
========================================================================*/
.pricing-table .pricing h3 {
  font-size: 51px;
}

.pricing-table ul li {
  padding: 13px 0;
}

/* XX. BOOTSTRAP Modal Popup
========================================================================*/
/* Fullscreen modal style */
/* popup modal - remove padding right if popup modal open */
body.modal-open {
  /* STOP MOVING AROUND! */
  /* position: fixed; */
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body.modal-open[style] {
  padding-right: 0 !important;
}

/* Fullscreen modal style */
.fullscreen.modal {
  padding-right: 0 !important;
}

.fullscreen.modal::-webkit-scrollbar {
  width: 0 !important; /*removes the scrollbar but still scrollable*/
  /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

.fullscreen .modal-dialog {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  color: #333;
}

.fullscreen .modal-content {
  height: 100%;
  min-height: 100%;
  border-radius: 0;
  color: #333;
  background: rgba(255, 255, 255, 0.97);
  overflow: auto;
}

.fullscreen .modal-header {
  padding: 5px 15px;
  text-align: right;
}

.fullscreen .modal-header .close {
  float: none;
}

.fullscreen .modal-body {
  padding: 0 50px;
  height: calc(100% - 112px);
}

.fullscreen .modal-body iframe {
  height: 100%;
}

/* Center modal style */
.centermodal {
  text-align: center;
  padding: 0 !important;
}

.centermodal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.centermodal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* XX. ALERT
========================================================================*/
/* Alert Offline */
.alert-offline {
  background-color: #263238;
  color: #FFF;
  padding: 15px;
  text-align: center;
}

.alert-offline [data-notify="icon"] {
  float: left;
}

/* Alert Info */
.alert-info, .alert.info {
  background-color: #3498db;
  border-color: #3498db;
  color: #FFF;
}

/* Success */
.alert-success, .alert.success {
  background-color: #18bc9c;
  border-color: #18bc9c;
  color: #FFF;
}

/* Danger */
.alert-danger, .alert.danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #FFF;
}

/* Warning */
.alert-warning, .alert.warning {
  background-color: #f39c12;
  border-color: #f39c12;
  color: #FFF;
}

/* XX. SITEMAP STYLE
========================================================================*/
.sitemap {
  margin-left: 0;
  list-style-type: none;
  padding: 0;
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
}

.sitemap li {
  padding: 10px 0;
  font-weight: 600;
}

.sitemap ul {
  list-style-type: none;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
}

.sitemap ul li {
  padding: 3px 0;
  font-size: 0.9em;
  font-weight: 400;
}

/* XX. FOOTER and COPYRIGHT
========================================================================*/
ul.footer-list-style {
  list-style-type: none;
  margin: 0;
  text-align: left;
  font-size: 14px;
  padding: 0;
}

@media screen and (max-width: 992px) {
  ul.footer-list-style {
    text-align: inherit;
    margin-bottom: 10px;
  }
}

ul.footer-list-style li {
  display: inline-block;
}

ul.footer-list-style li:first-child {
  padding-left: 5px;
}

ul.footer-list-style li:after {
  content: '/';
  padding: 0 5px;
  color: #000;
}

ul.footer-list-style li:last-child:after {
  content: '';
}

footer#main-footer #footer-rights p {
  font-size: 14px;
}

#footer-rights a,
#footer-rights a:focus,
#footer-rights a:active {
  color: #000;
}

/* System Icons */
.system-icons i[class^="icon-"] {
  margin: auto;
  position: relative;
  left: 3px;
}

.system-icons a.btn-xs {
  padding: 3px 6px 2px 6px;
  margin: 0;
}

/* XX. SOLLIST SHARING
========================================================================*/
.feature-box .sl-container a {
  margin: 0;
}

.sl-container .sl-item {
  padding-bottom: 0 !important;
}

/* XX. OWL CAROUSEL
========================================================================*/
.owl-carousel .owl-nav {
  top: 50%;
  position: absolute;
  margin-top: -20px;
  width: 100%;
}

.owl-carousel.show-nav-title .owl-nav {
  top: 0;
  right: 0;
  margin-top: -88px;
  width: auto;
}

.owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel.show-nav-title .owl-nav [class*="owl-"] {
  color: #93C220;
  border-color: #93C220;
}

.owl-carousel.show-nav-title .owl-nav [class*="owl-"],
.owl-carousel.show-nav-title .owl-nav [class*="owl-"]:hover,
.owl-carousel.show-nav-title .owl-nav [class*="owl-"]:active {
  font-size: 18px;
  background: transparent !important;
  width: 18px;
}

.owl-carousel.show-nav-title .owl-nav .owl-prev {
  left: -45px;
}

.owl-carousel .owl-nav .owl-prev::before {
  font-family: custom-icons;
  content: "\e89a";
  position: relative;
  left: -1px;
  top: 1px;
}

.owl-carousel .owl-nav .owl-next::before {
  font-family: custom-icons;
  content: "\e89b";
  position: relative;
  left: 2px;
  top: 1px;
}

/* XX. SEARCH OVERLAY
========================================================================*/
#full-screen-search p {
  font-size: 14px;
  margin-bottom: 40px;
  color: #FFF;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#full-screen-search input {
  width: 100%;
  background-color: transparent;
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, .1);
  border: 0;
  text-align: center;
  font-size: 35px;
  padding: 20px;
  color: #FFF;
  transition: all .3s ease-out;
}

.full-screen-nav-wrapper {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.full-screen-nav-wrapper button {
  position: absolute;
  right: 15px;
  bottom: 30px;
  background-color: transparent;
  border: 0;
}

.full-screen-nav-wrapper button i:before {
  font-size: 25px;
  color: rgba(255, 255, 255, .2);
  transition: all .2s ease-out;
}

.full-screen-nav-wrapper button:hover i:before {
  font-size: 25px;
  color: rgba(255, 255, 255, .5);
}

/* XX. PAGINATION
========================================================================*/
/* Main pagination */
.pagination > li > a,
.pagination > li > span {
  margin: 0 5px 0 4px;
  border-radius: 4px;
}

.pagination > li > a.next-button,
.pagination > li > a:hover.next-button,
.pagination > li > a.prev-button,
.pagination > li > a:hover.prev-button {
  background-color: transparent !important;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 2px;
}

.pagination > li > a.prev-button:before {
  content: '\00AB';
  margin-right: 3px;
  position: relative;
  top: -2px;
}

.pagination > li > a.next-button:after {
  content: '\00BB';
  margin-left: 3px;
  position: relative;
  top: -2px;
}

/* Pagination in article */
.pager li > a,
.pager li > span {
  border-radius: 5px;
}

.pager li.next > a i:before {
  margin: 0;
  text-align: right;
}

/* XX. NAVIGATION SIDEBAR MENU
======================================================================== */
.nav-side-menu {
  width: 100%;
}

.nav-side-menu li.panel {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-side-menu .brand {
  display: block;
}

.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 35px;
  cursor: pointer;
}

.nav-side-menu ul .sub-menu li {
  border: none;
  border-bottom: 1px solid #EDEDDE;
  margin: 0 0 0 25px;
}

.nav-side-menu ul .sub-menu li a {
  padding: 8px 0 8px 22px;
  font-size: 0.9em;
  line-height: 20px;
}

.nav-side-menu ul .sub-menu li:hover {
  background-color: #eee;
}

.nav-side-menu li {
  padding-left: 0;
}

.nav-side-menu li a:hover {
  text-decoration: underline;
}

.nav-side-menu li,
.nav-side-menu li a {
  text-decoration: none;
  color: #666;
}

.nav-side-menu li a {
  display: block;
  padding: 7px 5px 7px 10px;
}

.nav-side-menu li .panel-heading a {
  display: block;
  padding: 10px 5px 10px 10px;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

/* Other modification */
.panel-heading {
  padding: 0;
}

/* Count in sidebar */
.count {
  float: right;
  margin-right: 20px;
  line-height: normal;
  padding: 3px;
  border-radius: 5px;
  margin-top: 6px;
  background-color: #f5f5f5;
  font-weight: 700;
}

.count-small {
  padding: 3px 7px;
}

.nav-side-menu ul .sub-menu li a .count {
  margin-top: 0;
}

/* Colors */
.nav-side-menu ul li.active a,
.nav-side-menu ul li a.active,
.nav-side-menu ul .sub-menu li a.active {
}

/* Icons */
.nav-side-menu ul .sub-menu li a:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #333;
  margin: 7px 0 0 -12px;
  position: absolute;
}

/* Responsive */
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #fff;
    color: #384045;
    width: 40px;
    text-align: center;
  }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

@media (max-width: 767px) {
  .nav-side-menu .brand {
    background-color: #263238;
    color: #fff;
    line-height: 50px;
    display: block;
    text-align: center;
  }

  .nav-side-menu span.toggle-btn:before {
    font-family: 'custom-icons';
    content: '\e866';
    color: #263238;
    font-size: 18px;
    margin: 0;
  }

  .nav-side-menu span.toggle-btn.is-active:before {
    font-family: 'custom-icons';
    content: '\e816';
    color: #263238;
    font-size: 18px;
    margin: 0;
  }
}

/* XX. NAVIGATION FOOTER LIST
========================================================================
 * http://brolik.com/blog/responsive-web-design-footer-html-css-jquery-code-examples/
 */

/* HTML Setting */
.footer-navigation {
  margin: 0;
}

.footer-navigation .footer-navigation-menu {
  width: 100%;
}

.footer-navigation .footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation .footer-links li a {
  font-size: 14.4px;
}

/* Responsive Tablet Sizes */
@media only screen and (max-width: 749px) {
  .footer-navigation {
    flex-wrap: wrap;
  }

  .footer-navigation .footer-navigation-menu {
    width: 100%;
  }

  .footer-navigation .footer-links-holder {
    padding: 0 20px;
  }
}

/* Responsive Mobile Sizes */
@media only screen and (max-width: 500px) {
  .footer-navigation .footer-links-holder {
    width: 100%;
    padding: 0;
    margin: 0 0 5px 0;
  }

  .footer-navigation .footer-links-holder h3 {
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    background: #262626;

    /* Down Arrows */
  }

  .footer-navigation .footer-links-holder h3::after {
    float: right;
    margin-right: 10px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: transform .5s;
    transition: transform .5s;
  }

  .footer-navigation .footer-links-holder .footer-links {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0 20px;
  }

  .footer-navigation .footer-links-holder.active .footer-links {
    opacity: 1;
    height: auto;
  }

  .footer-navigation .footer-links-holder.active h3::after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .footer-navigation .footer-links-holder.active .footer-links {
    max-height: 10000px;
    margin: 15px 0 15px 0;
  }
}

/* XX. SIDEBAR
======================================================================== */
/* Sidebar - block */
.nav-sidebar {
  width: 100%;
}

.nav-sidebar ul {
  padding-left: 10px;
}

.nav-sidebar li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 30px;
  cursor: pointer;
}

/* Sidebar - inline */
.nav-sidebar-inline {
  width: 100%;
}

.nav-sidebar-inline ul {
  padding-left: 10px;
}

.nav-sidebar-inline li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-sidebar-inline li.tag-cloud a {
  color: #111;
  background: #C7CFB6;
  border-color: transparent;
  padding: 5px;
  font-size: 14px !important;
}

/* FORM ELEMENTS - BUTTONS, INPUT, TEXTAREA ...
======================================================================== */
/* Outline for form-control - fix for Firefox, Chrome */
input.form-control {
  outline: none !important;
}

/* Placeholder colors */
::-webkit-input-placeholder {
  color: #acacac !important;
  text-overflow: ellipsis;
}

:-moz-placeholder {
  color: #acacac !important;
  text-overflow: ellipsis;
}

::-moz-placeholder {
  color: #acacac !important;
  text-overflow: ellipsis;
}

/* For the future */
:-ms-input-placeholder {
  color: #acacac !important;
  text-overflow: ellipsis;
}

/* XX. NEWS AND DOWNLOAD
======================================================================== */
/* Edit, QuickEdit links */

/* Thumbnail image for news.php, downloadfile.php */
.thumb-news {
  position: relative;
}

.thumb-news .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.thumb-news .caption span {
  font-size: 46px;
  font-weight: bold;
  width: 100%;
  float: left;
}

.thumb-news .caption span.color1 {
  color: #FFF;
}

.thumb-news .caption span.color2 {
  color: #000;
}

.color-blue .thumb-news .caption span.color2,
.color-blue .thumb-download .caption span.color2 {
  color: #3272A8;
}

.color-coffee .thumb-news .caption span.color2,
.color-coffee .thumb-download .caption span.color2 {
  color: #995E1C;
}

.color-color .thumb-news .caption span.color2,
.color-color .thumb-download .caption span.color2 {
  color: #46B0C3;
}

.color-gold .thumb-news .caption span.color2,
.color-gold .thumb-download .caption span.color2 {
  color: #B39964;
}

.color-green .thumb-news .caption span.color2,
.color-green .thumb-download .caption span.color2 {
  color: #93C220;
}

.color-light-blue .thumb-news .caption span.color2,
.color-light-blue .thumb-download .caption span.color2 {
  color: #46B0C3;
}

.color-orange .thumb-news .caption span.color2,
.color-orange .thumb-download .caption span.color2 {
  color: #EA761E;
}

.color-red .thumb-news .caption span.color2,
.color-red .thumb-download .caption span.color2 {
  color: #DC492C;
}

.color-sea-green .thumb-news .caption span.color2,
.color-sea-green .thumb-download .caption span.color2 {
  color: #2EB1A5;
}

.color-silver .thumb-news .caption span.color2,
.color-silver .thumb-download .caption span.color2 {
  color: #A1B4B8;
}

.color-yellow .thumb-news .caption span.color2,
.color-yellow .thumb-download .caption span.color2 {
  color: #FFD829;
}