a {
  color: #16A085;
}

a:hover {
  color: #0A463A;
}

.events-list tr:hover .event-date {
  border-left: 5px solid #16A085;
}

.in-press a:hover {
  color: #16A085;
}

.zoom-item:hover {
  border: 8px solid #16A085;
}

.zoom-item .zoom-info-fade .btn:hover {
  background: #16A085;
}

.footer {
  border-top: 4px solid #16A085;
}

.pagination > .active > a,
.pagination > .active > span {
  border-bottom: 3px solid #16A085;
}

.pagination > li > a:hover {
  color: #16A085;
  border-bottom: 3px solid #16A085;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  border-top: 3px solid #16A085;
}

.sequence-pagination li {
  border: 4px solid #16A085;
}

.sequence-pagination li.current {
  background: #16A085;
}

ul.nav-main ul.dropdown-menu {
  background-color: #16A085;
}

ul.nav-main ul.dropdown-menu li:hover > a {
  background: #0A463A;
}

ul.nav-main .dropdown-submenu > a:after {
  border-left-color: #333;
}

.sb-slidebar a {
  color: #16A085;
}

.btn-primary {
  border: 1px solid #16A085;
  background: none repeat scroll 0 0 #16A085;
}

div.feature-box div.feature-box-icon {
  background: #16A085;
}