a {
  color: #F4E64C;
}

a:hover {
  color: #BFB007;
}

.events-list tr:hover .event-date {
  border-left: 5px solid #F4E64C;
}

.in-press a:hover {
  color: #F4E64C;
}

.zoom-item:hover {
  border: 8px solid #F4E64C;
}

.zoom-item .zoom-info-fade .btn:hover {
  background: #F4E64C;
}

.footer {
  border-top: 4px solid #F4E64C;
}

.pagination > .active > a,
.pagination > .active > span {
  border-bottom: 3px solid #F4E64C;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  border-top: 3px solid #F4E64C;
}

.pagination > li > a:hover {
  color: #F4E64C;
  border-bottom: 3px solid #F4E64C;
}

.sequence-pagination li {
  border: 4px solid #F4E64C;
}

.sequence-pagination li.current {
  background: #F4E64C;
}

ul.nav-main ul.dropdown-menu > li > a {
  color: #333;
}

ul.nav-main ul.dropdown-menu {
  background-color: #F4E64C;
}

ul.nav-main ul.dropdown-menu li:hover > a {
  background: #BFB007;
}

ul.nav-main .dropdown-submenu > a:after {
  border-left-color: #333;
}

.sb-slidebar a {
  color: #F4E64C;
}

.btn-primary {
  border: 1px solid #F4E64C;
  background: none repeat scroll 0 0 #F4E64C;
  color: #333;
}

div.feature-box div.feature-box-icon {
  background: #F4E64C;
}